In [1]:
import pandas as pd
import numpy as np

In [2]:
#DataFrame
d = [0,1,2,3,4]
df = pd.DataFrame(d)
print(df)
print("-----")
ds = pd. Series(d)
print(ds)

   0
0  0
1  1
2  2
3  3
4  4
-----
0    0
1    1
2    2
3    3
4    4
dtype: int64

In [3]:
ds.values

array([0, 1, 2, 3, 4], dtype=int64)

In [7]:
# DataFrame
d = [0,1,2,3,4]
df = pd.DataFrame(d)
print(df)
print("---------")
df.columns = ["column1"]
print(df)

   0
0  0
1  1
2  2
3  3
4  4
---------
   column1
0        0
1        1
2        2
3        3
4        4

In [8]:
df["newCol"] = d
print(df)
print("----------------")
df["newCol2"] = 5
print(df)

   column1  newCol
0        0       0
1        1       1
2        2       2
3        3       3
4        4       4
----------------
   column1  newCol  newCol2
0        0       0        5
1        1       1        5
2        2       2        5
3        3       3        5
4        4       4        5

In [9]:
df["newCol3"]= df["newCol2"]*100
df

   column1  newCol  newCol2  newCol3
0        0       0        5      500
1        1       1        5      500
2        2       2        5      500
3        3       3        5      500
4        4       4        5      500

In [10]:
df.iat[1,2] = 2000
df

   column1  newCol  newCol2  newCol3
0        0       0        5      500
1        1       1     2000      500
2        2       2        5      500
3        3       3        5      500
4        4       4        5      500

In [11]:
df.columns

Index(['column1', 'newCol', 'newCol2', 'newCol3'], dtype='object')

In [12]:
del df["newCol"]
df

   column1  newCol2  newCol3
0        0        5      500
1        1     2000      500
2        2        5      500
3        3        5      500
4        4        5      500

In [13]:
df.drop("newCol2", axis = 1)

   column1  newCol3
0        0      500
1        1      500
2        2      500
3        3      500
4        4      500

In [14]:
df.drop(3, axis=0)

   column1  newCol2  newCol3
0        0        5      500
1        1     2000      500
2        2        5      500
4        4        5      500

In [15]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [16]:
df.columns

Index(['column1', 'newCol2', 'newCol3'], dtype='object')

In [17]:
df.index.name="count"
df

       column1  newCol2  newCol3
count
0            0        5      500
1            1     2000      500
2            2        5      500
3            3        5      500
4            4        5      500

In [19]:
stock_price_DF_withIndex = pd.DataFrame(
[10000, 10300, 9900, 10500, 11000],
index = ["2020-03-01","2020-03-02","2020-03-03","2020-03-04","2020-03-5"])
stock_price_DF_withIndex

                0
2020-03-01  10000
2020-03-02  10300
2020-03-03   9900
2020-03-04  10500
2020-03-5   11000

In [20]:
stock_price_DF_withIndex.rename(columns = {0 : "시가"}, inplace = True)
stock_price_DF_withIndex

               시가
2020-03-01  10000
2020-03-02  10300
2020-03-03   9900
2020-03-04  10500
2020-03-5   11000

In [22]:
stock_price_DF_withIndex.rename(columns = {"시가" : "시가2"}, inplace = True)
stock_price_DF_withIndex

              시가2
2020-03-01  10000
2020-03-02  10300
2020-03-03   9900
2020-03-04  10500
2020-03-5   11000

In [23]:
stock_price_DF_withIndex.rename(columns = {"시가2" : "시가"}, inplace = True)
stock_price_DF_withIndex

               시가
2020-03-01  10000
2020-03-02  10300
2020-03-03   9900
2020-03-04  10500
2020-03-5   11000

In [24]:
stock_price_DF_withIndex["종가"] = [11000,12000,10000,13000,12000]
stock_price_DF_withIndex["고가"] = [13000,15000,15000,18000,17000]
stock_price_DF_withIndex["저가"] = [3000,5000,5000,8000,7000]

stock_price_DF_withIndex

               시가     종가     고가    저가
2020-03-01  10000  11000  13000  3000
2020-03-02  10300  12000  15000  5000
2020-03-03   9900  10000  15000  5000
2020-03-04  10500  13000  18000  8000
2020-03-5   11000  12000  17000  7000

In [27]:
df["종가"] = [11000,12000,10000,13000,12000]
stock_price_DF_withIndex

               시가     종가     고가    저가
2020-03-01  10000  11000  13000  3000
2020-03-02  10300  12000  15000  5000
2020-03-03   9900  10000  15000  5000
2020-03-04  10500  13000  18000  8000
2020-03-5   11000  12000  17000  7000

In [28]:
stock_price_DF_withIndex.iat[0,2]

13000

In [29]:
stock_price_DF_withIndex.loc["2020-03-01", ["시가", "종가"]]

시가    10000
종가    11000
Name: 2020-03-01, dtype: int64

In [32]:
stock_price_DF_withIndex.loc["2020-03-01":"2020-03-03", "시가":"저가"]

               시가     종가     고가    저가
2020-03-01  10000  11000  13000  3000
2020-03-02  10300  12000  15000  5000
2020-03-03   9900  10000  15000  5000

In [33]:
stock_price_DF_withIndex.loc["2020-03-01":"2020-03-03", :]

               시가     종가     고가    저가
2020-03-01  10000  11000  13000  3000
2020-03-02  10300  12000  15000  5000
2020-03-03   9900  10000  15000  5000

In [34]:
stock_price_DF_withIndex.values

array([[10000, 11000, 13000,  3000],
       [10300, 12000, 15000,  5000],
       [ 9900, 10000, 15000,  5000],
       [10500, 13000, 18000,  8000],
       [11000, 12000, 17000,  7000]], dtype=int64)

In [35]:
stock_price_DF_withIndex.shape[0]

5

In [36]:
stock_price_DF_withIndex.shape[1]

4

In [37]:
stock_price_DF_withIndex[["시가","종가"]]

               시가     종가
2020-03-01  10000  11000
2020-03-02  10300  12000
2020-03-03   9900  10000
2020-03-04  10500  13000
2020-03-5   11000  12000

In [38]:
obj = pd.Series([4.5, 7.2, -5.3], index=["c","b","a"])
obj

c    4.5
b    7.2
a   -5.3
dtype: float64

In [39]:
obj.reindex(["a","b","e","c","b"]).interpolate()

a   -5.30
b    7.20
e    5.85
c    4.50
b    7.20
dtype: float64

In [40]:
obj.reindex(["a","b","c","d","e"],fill_value="null")

a    -5.3
b     7.2
c     4.5
d    null
e    null
dtype: object

In [49]:
stock_price_DF_withIndex.sort_index(axis=1, ascending=False).sort_index(axis=0, ascending=False)

               종가    저가     시가     고가
2020-03-5   12000  7000  11000  17000
2020-03-04  13000  8000  10500  18000
2020-03-03  10000  5000   9900  15000
2020-03-02  12000  5000  10300  15000
2020-03-01  11000  3000  10000  13000

In [50]:
stock_price_DF_withIndex.sort_values(by="고가", ascending=False)

               시가     종가     고가    저가
2020-03-04  10500  13000  18000  8000
2020-03-5   11000  12000  17000  7000
2020-03-02  10300  12000  15000  5000
2020-03-03   9900  10000  15000  5000
2020-03-01  10000  11000  13000  3000

In [55]:
stock_price_DF_withIndex.sort_values(by=["고가","종가"], ascending=False)

               시가     종가     고가    저가
2020-03-04  10500  13000  18000  8000
2020-03-5   11000  12000  17000  7000
2020-03-02  10300  12000  15000  5000
2020-03-03   9900  10000  15000  5000
2020-03-01  10000  11000  13000  3000

In [52]:
stock_price_DF_withIndex

               시가     종가     고가    저가
2020-03-01  10000  11000  13000  3000
2020-03-02  10300  12000  15000  5000
2020-03-03   9900  10000  15000  5000
2020-03-04  10500  13000  18000  8000
2020-03-5   11000  12000  17000  7000

In [57]:
stock_price_DF_withIndex.applymap(lambda x: x+100)

               시가     종가     고가    저가
2020-03-01  10100  11100  13100  3100
2020-03-02  10400  12100  15100  5100
2020-03-03  10000  10100  15100  5100
2020-03-04  10600  13100  18100  8100
2020-03-5   11100  12100  17100  7100

In [58]:
stock_price_DF_withIndex.apply(lambda x: x.max() - x.min(), axis=1)

2020-03-01    10000
2020-03-02    10000
2020-03-03    10000
2020-03-04    10000
2020-03-5     10000
dtype: int64

In [59]:
stock_price_DF_withIndex = pd.DataFrame([10000, 10300, 9900, 10500, 11000],
    index = ["2020-03-01","2020-03-02","2020-03-03","2020-03-04","2020-03-5"])
stock_price_DF_withIndex.rename(columns = {0: "시가"}, inplace = True)

stock_price_DF_withIndex["종가"] = [350,234,234000,13000,12000]
stock_price_DF_withIndex["고가"] = [13000, 15000, 15000, 122000, 17000]
stock_price_DF_withIndex["저가"] = [3000,5000,5000,8000,7000]

stock_price_DF_withIndex

               시가      종가      고가    저가
2020-03-01  10000     350   13000  3000
2020-03-02  10300     234   15000  5000
2020-03-03   9900  234000   15000  5000
2020-03-04  10500   13000  122000  8000
2020-03-5   11000   12000   17000  7000

In [60]:
stock_price_DF_withIndex["Gap"] = stock_price_DF_withIndex.apply(lambda x:x.max()-x.min(), axis=1)

stock_price_DF_withIndex

               시가      종가      고가    저가     Gap
2020-03-01  10000     350   13000  3000   12650
2020-03-02  10300     234   15000  5000   14766
2020-03-03   9900  234000   15000  5000  229000
2020-03-04  10500   13000  122000  8000  114000
2020-03-5   11000   12000   17000  7000   10000

In [61]:
len(stock_price_DF_withIndex)

5

In [62]:
stock_price_DF_withIndex.shape[0]

5

In [63]:
stock_price_DF_withIndex["Gap_forloop"] = 0
stock_price_DF_withIndex

               시가      종가      고가    저가     Gap  Gap_forloop
2020-03-01  10000     350   13000  3000   12650            0
2020-03-02  10300     234   15000  5000   14766            0
2020-03-03   9900  234000   15000  5000  229000            0
2020-03-04  10500   13000  122000  8000  114000            0
2020-03-5   11000   12000   17000  7000   10000            0

In [ ]:
df[새로운 컬럼 이름] = 0
stock_price_DF_withIndex["gap_forloop"] = 0

for i in range(0, len(데이터프레임)):
for i in range(0, len(stock_price_DF_withIndex)):
    
    temp:i 번째 줄에서...앞의 4개의 컬럼의 값을 가지고 와야 함
    (가로 i번째 줄, 세로는 시가/종가/저가/고가) -->  iloc[i, ~~~]
    temp = stock_price_DF_withIndex.iloc[i , 0:4]
    
    위의 4개의 값 중(temp)에서 최고값 찾기 : max() --> tempMax 변수에..
    tempMax = temp.max()
    위의 4개의 값 중(temp)에서 최저값 찾기 : min() --> tempmin 변수에..
    tempmin = temp.min()
    가로 i번째 줄의 4개 값 중에서 최고값 - 최저값 : tempMax - tempmin
    
    가로 i번째, 세로 gap_forloop 의 셀 위치에 tempMax - tempmin 값 대입!!
    stock_price_DF_withIndex.iat[i, 5] = tempMax - tempmin

In [66]:
stock_price_DF_withIndex["gap_forloop"] = 0
for i in range(0, len(stock_price_DF_withIndex)):
    temp = stock_price_DF_withIndex.iloc[i , 0:4]
    stock_price_DF_withIndex.iat[i, 5] = temp.max() - temp.min()
stock_price_DF_withIndex

               시가      종가      고가    저가     Gap  Gap_forloop  gap_forloop
2020-03-01  10000     350   13000  3000   12650        12650            0
2020-03-02  10300     234   15000  5000   14766        14766            0
2020-03-03   9900  234000   15000  5000  229000       229000            0
2020-03-04  10500   13000  122000  8000  114000       114000            0
2020-03-5   11000   12000   17000  7000   10000        10000            0

In [67]:
stock_price_DF_withIndex["gap_forloop"] = 0
for i in range(0, len(stock_price_DF_withIndex)):
    temp = stock_price_DF_withIndex.iloc[i , 0:4]
    stock_price_DF_withIndex.iat[i, stock_price_DF_withIndex.columns.get_loc("gap_forloop")] = temp.max() - temp.min()
stock_price_DF_withIndex

               시가      종가      고가    저가     Gap  Gap_forloop  gap_forloop
2020-03-01  10000     350   13000  3000   12650        12650        12650
2020-03-02  10300     234   15000  5000   14766        14766        14766
2020-03-03   9900  234000   15000  5000  229000       229000       229000
2020-03-04  10500   13000  122000  8000  114000       114000       114000
2020-03-5   11000   12000   17000  7000   10000        10000        10000

In [68]:
labels = ["시가", "고가", "종가"]

labels_idx = [stock_price_DF_withIndex.columns.get_loc(label) for label in labels]
labels_idx

[0, 2, 1]