In [4]:
import pandas as pd
import json

In [6]:
#01) json 만들기
# """ {키 : 값} """
json_data1 = """{
    "color" : "red",
    "value" : "#100"
}"""

result = json.loads(json_data1)
print(result)

{'color': 'red', 'value': '#100'}

In [7]:
result["color"]

'red'

In [8]:
result["value"]

'#100'

In [9]:
result.keys()

dict_keys(['color', 'value'])

In [10]:
# 02) json data 2
json_data2 = """{
    "id": "0001",
    "type": "donut",
    "name": "Cake",
    "ppu": 0.55,
    "batters":{
            "batter": [
                            { "id": "1001", "type": "Regular" },
                            { "id": "1002", "type": "Chocolate" },
                            { "id": "1003", "type": "Blueberry" },
                            { "id": "1004", "type": "Devil's Food" }
                            ]
                        },
    "topping":
        [
            { "id": "5001", "type": "None" },
            { "id": "5002", "type": "Glazed" },
            { "id": "5005", "type": "Sugar" },
            { "id": "5007", "type": "Powdered Sugar" },
            { "id": "5006", "type": "Chocolate with Sprinkles" },
            { "id": "5003", "type": "Chocolate" },
            { "id": "5004", "type": "Maple" }
]
}"""
result = json.loads(json_data2)
print(result)

{'id': '0001', 'type': 'donut', 'name': 'Cake', 'ppu': 0.55, 'batters': {'batter': [{'id': '1001', 'type': 'Regular'}, {'id': '1002', 'type': 'Chocolate'}, {'id': '1003', 'type': 'Blueberry'}, {'id': '1004', 'type': "Devil's Food"}]}, 'topping': [{'id': '5001', 'type': 'None'}, {'id': '5002', 'type': 'Glazed'}, {'id': '5005', 'type': 'Sugar'}, {'id': '5007', 'type': 'Powdered Sugar'}, {'id': '5006', 'type': 'Chocolate with Sprinkles'}, {'id': '5003', 'type': 'Chocolate'}, {'id': '5004', 'type': 'Maple'}]}

In [11]:
result["topping"]

[{'id': '5001', 'type': 'None'},
 {'id': '5002', 'type': 'Glazed'},
 {'id': '5005', 'type': 'Sugar'},
 {'id': '5007', 'type': 'Powdered Sugar'},
 {'id': '5006', 'type': 'Chocolate with Sprinkles'},
 {'id': '5003', 'type': 'Chocolate'},
 {'id': '5004', 'type': 'Maple'}]

In [12]:
result["topping"][2]["type"]

'Sugar'

In [ ]:
#batter 2번째 값을 출력 / 2번째 topping의 데이터를 출력

In [15]:
result["batters"]["batter"][1]["id"]

'1002'

In [17]:
result["topping"][1]

{'id': '5002', 'type': 'Glazed'}

In [19]:
import pandas as pd
import urllib.request
import json

In [70]:
movieIdListURL = "http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieList.json?key=80b1793712960b5dfe1c3386942f37d9"
movieIdListURL

'http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieList.json?key=80b1793712960b5dfe1c3386942f37d9'

In [72]:
movieIdPage = urllib.request.urlopen(movieIdListURL)
movieIdData = json.loads(movieIdPage.read().decode('utf8'), encoding="utf8")
movieIdData

{'movieListResult': {'totCnt': 76558,
  'source': '영화진흥위원회',
  'movieList': [{'movieCd': '30209992',
    'movieNm': '경복궁1234',
    'movieNmEn': 'The women of Kyeongbokgung',
    'prdtYear': '1971',
    'openDt': '19720513',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '',
    'genreAlt': '',
    'repNationNm': '한국',
    'repGenreNm': '드라마',
    'directors': [],
    'companys': []},
   {'movieCd': '30209993',
    'movieNm': '경복궁12345',
    'movieNmEn': 'The women of Kyeongbokgung',
    'prdtYear': '1971',
    'openDt': '19720513',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '',
    'genreAlt': '',
    'repNationNm': '한국',
    'repGenreNm': '드라마',
    'directors': [],
    'companys': []},
   {'movieCd': '20193450',
    'movieNm': '반도',
    'movieNmEn': 'Peninsula',
    'prdtYear': '2020',
    'openDt': '20200715',
    'typeNm': '장편',
    'prdtStatNm': '개봉예정',
    'nationAlt': '한국',
    'genreAlt': '액션,드라마',
    'repNationNm': '한국',
    'repGenreNm': '액션',
    'directors': [{'peopleNm': '연상호'}],
    'companys': [{'companyCd': '20140808', 'companyNm': '(주)영화사레드피터'}]},
   {'movieCd': '20201922',
    'movieNm': '알로하',
    'movieNmEn': '',
    'prdtYear': '2019',
    'openDt': '',
    'typeNm': '단편',
    'prdtStatNm': '기타',
    'nationAlt': '한국',
    'genreAlt': '기타',
    'repNationNm': '한국',
    'repGenreNm': '기타',
    'directors': [],
    'companys': []},
   {'movieCd': '20201941',
    'movieNm': '너의 대학은 : 동아방송예술대학교 편',
    'movieNmEn': '',
    'prdtYear': '2019',
    'openDt': '',
    'typeNm': '단편',
    'prdtStatNm': '기타',
    'nationAlt': '한국',
    'genreAlt': '기타',
    'repNationNm': '한국',
    'repGenreNm': '기타',
    'directors': [],
    'companys': []},
   {'movieCd': '20199302',
    'movieNm': '테스와 보낸 여름',
    'movieNmEn': 'My Extraordinary Summer with Tess',
    'prdtYear': '2019',
    'openDt': '',
    'typeNm': '장편',
    'prdtStatNm': '개봉예정',
    'nationAlt': '네덜란드',
    'genreAlt': '드라마',
    'repNationNm': '네덜란드',
    'repGenreNm': '드라마',
    'directors': [{'peopleNm': '스티븐 바우터루드'}],
    'companys': []},
   {'movieCd': '20201803',
    'movieNm': '소년 아메드',
    'movieNmEn': 'Young Ahmed',
    'prdtYear': '2019',
    'openDt': '',
    'typeNm': '장편',
    'prdtStatNm': '개봉예정',
    'nationAlt': '벨기에,프랑스',
    'genreAlt': '드라마',
    'repNationNm': '벨기에',
    'repGenreNm': '드라마',
    'directors': [{'peopleNm': '장 피에르 다르덴'}, {'peopleNm': '뤽 다르덴'}],
    'companys': []},
   {'movieCd': '20209983',
    'movieNm': '마더체인지',
    'movieNmEn': 'mother change',
    'prdtYear': '2019',
    'openDt': '20200609',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '미국',
    'genreAlt': '멜로/로맨스',
    'repNationNm': '미국',
    'repGenreNm': '멜로/로맨스',
    'directors': [],
    'companys': []},
   {'movieCd': '20200003',
    'movieNm': '내연녀',
    'movieNmEn': 'secret mistress ',
    'prdtYear': '2019',
    'openDt': '20200609',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '한국',
    'genreAlt': '성인물(에로)',
    'repNationNm': '한국',
    'repGenreNm': '성인물(에로)',
    'directors': [{'peopleNm': '이영인'}],
    'companys': [{'companyCd': '20160221', 'companyNm': '(주)투모션'}]},
   {'movieCd': '20200143',
    'movieNm': '시누이의 맛',
    'movieNmEn': '',
    'prdtYear': '2020',
    'openDt': '20200612',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '한국',
    'genreAlt': '드라마,성인물(에로)',
    'repNationNm': '한국',
    'repGenreNm': '드라마',
    'directors': [{'peopleNm': '최정자'}],
    'companys': [{'companyCd': '20186981', 'companyNm': '주식회사 플릭스코'}]}]}}

In [31]:
movieIdData["movieListResult"]["totCnt"]

941

In [23]:
movieIdData = json.loads(~~~~, encoding = "utf8")

movieIdData = json.loads(movieIdPage.read().decode('utf8'))

#movieIdPage.read().decode("utf8")

'{"movieListResult":{"totCnt":941,"source":"영화진흥위원회","movieList":[{"movieCd":"20209801","movieNm":"세 여자","movieNmEn":"","prdtYear":"2019","openDt":"20200602","typeNm":"장편","prdtStatNm":"개봉","nationAlt":"한국","genreAlt":"멜로/로맨스,드라마","repNationNm":"한국","repGenreNm":"멜로/로맨스","directors":[{"peopleNm":"왕지방"}],"companys":[{"companyCd":"20123227","companyNm":"(주)나우콘텐츠"}]},{"movieCd":"20201841","movieNm":"부활","movieNmEn":"","prdtYear":"2020","openDt":"20200709","typeNm":"장편","prdtStatNm":"개봉예정","nationAlt":"한국","genreAlt":"다큐멘터리","repNationNm":"한국","repGenreNm":"다큐멘터리","directors":[{"peopleNm":"구수환"}],"companys":[{"companyCd":"20204022","companyNm":"(주)중헌홀딩스"}]},{"movieCd":"20200304","movieNm":"테우리","movieNmEn":"Teuri","prdtYear":"2019","openDt":"20200709","typeNm":"장편","prdtStatNm":"개봉예정","nationAlt":"한국","genreAlt":"드라마","repNationNm":"한국","repGenreNm":"드라마","directors":[{"peopleNm":"이난"}],"companys":[{"companyCd":"20154448","companyNm":"(주)26컴퍼니"}]},{"movieCd":"20207923","movieNm":"킬 모드","movieNmEn":"KILL MODE","prdtYear":"2020","openDt":"20200625","typeNm":"장편","prdtStatNm":"개봉","nationAlt":"네덜란드","genreAlt":"액션","repNationNm":"네덜란드","repGenreNm":"액션","directors":[],"companys":[]},{"movieCd":"20200083","movieNm":"해피 디 데이","movieNmEn":"Dog Days","prdtYear":"2018","openDt":"20200701","typeNm":"장편","prdtStatNm":"개봉예정","nationAlt":"미국","genreAlt":"코미디,드라마,멜로/로맨스","repNationNm":"미국","repGenreNm":"코미디","directors":[{"peopleNm":"켄 마리노"}],"companys":[]},{"movieCd":"20200145","movieNm":"할로윈: 살인마 잭","movieNmEn":"The Legend of Halloween Jack","prdtYear":"2018","openDt":"20200630","typeNm":"장편","prdtStatNm":"개봉","nationAlt":"영국","genreAlt":"공포(호러)","repNationNm":"영국","repGenreNm":"공포(호러)","directors":[{"peopleNm":"앤드류 존스"}],"companys":[]},{"movieCd":"20201644","movieNm":"자매들: 감금의 추억 무삭제판","movieNmEn":"","prdtYear":"2019","openDt":"20200630","typeNm":"장편","prdtStatNm":"개봉","nationAlt":"한국","genreAlt":"드라마","repNationNm":"한국","repGenreNm":"드라마","directors":[{"peopleNm":"한동호"}],"companys":[{"companyCd":"20186981","companyNm":"주식회사 플릭스코"}]},{"movieCd":"20201666","movieNm":"여선생의 금지된 방문교육","movieNmEn":"","prdtYear":"2020","openDt":"20200630","typeNm":"장편","prdtStatNm":"개봉","nationAlt":"일본","genreAlt":"드라마,성인물(에로)","repNationNm":"일본","repGenreNm":"드라마","directors":[],"companys":[]},{"movieCd":"20201683","movieNm":"신천역 3번출구-확장판","movieNmEn":"","prdtYear":"2019","openDt":"20200630","typeNm":"장편","prdtStatNm":"개봉","nationAlt":"한국","genreAlt":"멜로/로맨스,드라마","repNationNm":"한국","repGenreNm":"멜로/로맨스","directors":[{"peopleNm":"노현진"}],"companys":[]},{"movieCd":"20200730","movieNm":"3022: 지구 대폭발","movieNmEn":"3022","prdtYear":"2019","openDt":"20200630","typeNm":"장편","prdtStatNm":"개봉","nationAlt":"미국","genreAlt":"SF,드라마","repNationNm":"미국","repGenreNm":"SF","directors":[{"peopleNm":"존 슈이츠"}],"companys":[]}]}}'

In [28]:
movieIdData = json.loads(movieIdPage.read().decode('utf8'),encoding="utf8")
movieIdData

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [26]:
movieIdData["movieListResult"]

NameError: name 'movieIdData' is not defined

In [32]:
movieIdPage = urllib.request.urlopen(movieIdListURL)
movieIdData = json.loads(movieIdPage.read().decode('utf8'),encoding="utf8")
movieIdData

{'movieListResult': {'totCnt': 941,
  'source': '영화진흥위원회',
  'movieList': [{'movieCd': '20200304',
    'movieNm': '테우리',
    'movieNmEn': 'Teuri',
    'prdtYear': '2019',
    'openDt': '20200709',
    'typeNm': '장편',
    'prdtStatNm': '개봉예정',
    'nationAlt': '한국',
    'genreAlt': '드라마',
    'repNationNm': '한국',
    'repGenreNm': '드라마',
    'directors': [{'peopleNm': '이난'}],
    'companys': [{'companyCd': '20154448', 'companyNm': '(주)26컴퍼니'}]},
   {'movieCd': '20209848',
    'movieNm': '가슴 큰 앞집 소녀',
    'movieNmEn': '',
    'prdtYear': '2020',
    'openDt': '20200603',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '한국',
    'genreAlt': '멜로/로맨스',
    'repNationNm': '한국',
    'repGenreNm': '멜로/로맨스',
    'directors': [{'peopleNm': '이동준'}],
    'companys': [{'companyCd': '20141069', 'companyNm': '미라클필름'}]},
   {'movieCd': '20209801',
    'movieNm': '세 여자',
    'movieNmEn': '',
    'prdtYear': '2019',
    'openDt': '20200602',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '한국',
    'genreAlt': '멜로/로맨스,드라마',
    'repNationNm': '한국',
    'repGenreNm': '멜로/로맨스',
    'directors': [{'peopleNm': '왕지방'}],
    'companys': [{'companyCd': '20123227', 'companyNm': '(주)나우콘텐츠'}]},
   {'movieCd': '20201841',
    'movieNm': '부활',
    'movieNmEn': '',
    'prdtYear': '2020',
    'openDt': '20200709',
    'typeNm': '장편',
    'prdtStatNm': '개봉예정',
    'nationAlt': '한국',
    'genreAlt': '다큐멘터리',
    'repNationNm': '한국',
    'repGenreNm': '다큐멘터리',
    'directors': [{'peopleNm': '구수환'}],
    'companys': [{'companyCd': '20204022', 'companyNm': '(주)중헌홀딩스'}]},
   {'movieCd': '20207923',
    'movieNm': '킬 모드',
    'movieNmEn': 'KILL MODE',
    'prdtYear': '2020',
    'openDt': '20200625',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '네덜란드',
    'genreAlt': '액션',
    'repNationNm': '네덜란드',
    'repGenreNm': '액션',
    'directors': [],
    'companys': []},
   {'movieCd': '20200083',
    'movieNm': '해피 디 데이',
    'movieNmEn': 'Dog Days',
    'prdtYear': '2018',
    'openDt': '20200701',
    'typeNm': '장편',
    'prdtStatNm': '개봉예정',
    'nationAlt': '미국',
    'genreAlt': '코미디,드라마,멜로/로맨스',
    'repNationNm': '미국',
    'repGenreNm': '코미디',
    'directors': [{'peopleNm': '켄 마리노'}],
    'companys': []},
   {'movieCd': '20200145',
    'movieNm': '할로윈: 살인마 잭',
    'movieNmEn': 'The Legend of Halloween Jack',
    'prdtYear': '2018',
    'openDt': '20200630',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '영국',
    'genreAlt': '공포(호러)',
    'repNationNm': '영국',
    'repGenreNm': '공포(호러)',
    'directors': [{'peopleNm': '앤드류 존스'}],
    'companys': []},
   {'movieCd': '20201644',
    'movieNm': '자매들: 감금의 추억 무삭제판',
    'movieNmEn': '',
    'prdtYear': '2019',
    'openDt': '20200630',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '한국',
    'genreAlt': '드라마',
    'repNationNm': '한국',
    'repGenreNm': '드라마',
    'directors': [{'peopleNm': '한동호'}],
    'companys': [{'companyCd': '20186981', 'companyNm': '주식회사 플릭스코'}]},
   {'movieCd': '20201666',
    'movieNm': '여선생의 금지된 방문교육',
    'movieNmEn': '',
    'prdtYear': '2020',
    'openDt': '20200630',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '일본',
    'genreAlt': '드라마,성인물(에로)',
    'repNationNm': '일본',
    'repGenreNm': '드라마',
    'directors': [],
    'companys': []},
   {'movieCd': '20201683',
    'movieNm': '신천역 3번출구-확장판',
    'movieNmEn': '',
    'prdtYear': '2019',
    'openDt': '20200630',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '한국',
    'genreAlt': '멜로/로맨스,드라마',
    'repNationNm': '한국',
    'repGenreNm': '멜로/로맨스',
    'directors': [{'peopleNm': '노현진'}],
    'companys': []}]}}

In [37]:
movieIdData["movieListResult"]["movieList"][0]

{'movieCd': '20200304',
 'movieNm': '테우리',
 'movieNmEn': 'Teuri',
 'prdtYear': '2019',
 'openDt': '20200709',
 'typeNm': '장편',
 'prdtStatNm': '개봉예정',
 'nationAlt': '한국',
 'genreAlt': '드라마',
 'repNationNm': '한국',
 'repGenreNm': '드라마',
 'directors': [{'peopleNm': '이난'}],
 'companys': [{'companyCd': '20154448', 'companyNm': '(주)26컴퍼니'}]}

In [ ]:
#Q1) 처음 영화에 대한 movieCD값을 출력하세요.
#02) 처음 영화의 영화 이름/영문이름을 출력하세요.
#03) 처음 영화의 개봉일을 출력하세요.
#04) 처음 영화에 대한 1번 감독에 대한 정보를 점근을 하고, 그 감독의 이름을 출력하세요

In [39]:
movieIdData["movieListResult"]["movieList"][0]["movieCd"]

'20200304'

In [48]:
movieIdData["movieListResult"]["movieList"][0]["movieNm"]

'테우리'

In [45]:
movieIdData["movieListResult"]["movieList"][0]["movieNmEn"]

'Teuri'

In [46]:
movieIdData["movieListResult"]["movieList"][0]["openDt"]

'20200709'

In [58]:
movieIdData["movieListResult"]["movieList"][0]["directors"][0]["peopleNm"]

'이난'

In [75]:
#모든 정보를 담을 DF
movieIDDF = pd.DataFrame()

#1개 영화 정보들에 대해서 처리할 DF
movieIDDF_temp = pd.DataFrame()
movieIDDF_temp = movieIDDF_temp.append(
    {"movieCd":"",
     "movieNm" : "",
     "movieNmEn" : "",
     "openDt" : "",
     "directorpeopleNm" : ""},
    ignore_index = True)

temp_movcd_idx = movieIDDF_temp.columns.get_loc("movieCd")
temp_movNm_idx = movieIDDF_temp.columns.get_loc("movieNm")
temp_movNmE_idx = movieIDDF_temp.columns.get_loc("movieNmEn")
temp_movdt_idx = movieIDDF_temp.columns.get_loc("openDt")
temp_movdir_idx = movieIDDF_temp.columns.get_loc("directorpeopleNm")

num = len(movieIdData["movieListResult"]["movieList"])
for i in range(0, num):
    #영화 코드
    movieIDDF_temp.iat[0, temp_movcd_idx]=movieIdData["movieListResult"]["movieList"][i]["movieCd"]
    movieIDDF_temp.iat[0, temp_movNm_idx]=movieIdData["movieListResult"]["movieList"][i]["movieNm"]
    movieIDDF_temp.iat[0, temp_movNmE_idx]=movieIdData["movieListResult"]["movieList"][i]["movieNmEn"]
    movieIDDF_temp.iat[0, temp_movdt_idx]=movieIdData["movieListResult"]["movieList"][i]["openDt"]
    
    
    #print(str(i)+"_번째 영화 코드: ", movieIdData["movieListResult"]["movieList"][i]["directors"]=[])
    #감독에 대한 정보가 뭐라도 들어있는 경우....
    if movieIdData["movieListResult"]["movieList"][i]["directors"] !=[]:
        #print(str(i) + "감독이름:", movieIdData[",movieLis0tResult"])
        movieIDDF_temp.iat[0,temp_movdir_idx]=movieIdData["movieListResult"]["movieList"][i]["directors"][0]["peopleNm"]
    else:
            pass
        
    

    
    # 1. movieIDDF_temp에 i번째 영화의 정보들을 담기....(코드, 이름, 영문, 개봉일, 감독)
    # 2. movieIDDF_temp에 있는 i번째 영화에 대한 정보를 movieIDDF에 추가
    # ---------> append
    movieIDDF=movieIDDF.append(movieIDDF_temp, ignore_index=True)
    # 3. movieIDDF_temp에 담겨져 있는 정보들을 초기화하는 부분
    movieIDDF_temp.iat[0, temp_movcd_idx] = ""
    movieIDDF_temp.iat[0, temp_movNm_idx] = ""
    movieIDDF_temp.iat[0, temp_movNmE_idx] = ""
    movieIDDF_temp.iat[0, temp_movdt_idx] = ""
    movieIDDF_temp.iat[0, temp_movdir_idx] = ""

In [76]:
movieIDDF_temp.columns.get_loc("movieCd")

1

In [77]:
movieIdData["movieListResult"]["movieList"][5]["directors"]=[]

In [78]:
movieIDDF["openDt"][0]

'19720513'

In [79]:
movieIDDF["openDt"][0][:4]--->x[:4]

SyntaxError: invalid syntax (<ipython-input-79-836ee51ac164>, line 1)

In [ ]:
movieIDDF["openDt"][0][4:6]--->x[4:6]

In [ ]:
movieIDDF["openDt"][0][6:]--->x[6:]

In [87]:
movieIDDF["year"]=movieIDDF["openDt"].apply(lambda x: str(x)[:4]) 
movieIDDF["month"]=movieIDDF["openDt"].apply(lambda x: str(x)[4:6])
movieIDDF["day"]=movieIDDF["openDt"].apply(lambda x: str(x)[6:])
movieIDDF.head(10)

,directorpeopleNm,movieCd,movieNm,movieNmEn,openDt,year,month,day
3,,20201922,알로하,,,,,
4,,20201941,너의 대학은 : 동아방송예술대학교 편,,,,,
5,스티븐 바우터루드,20199302,테스와 보낸 여름,My Extraordinary Summer with Tess,,,,
6,장 피에르 다르덴,20201803,소년 아메드,Young Ahmed,,,,
0,,30209992,경복궁1234,The women of Kyeongbokgung,19720513,1972,05,13
1,,30209993,경복궁12345,The women of Kyeongbokgung,19720513,1972,05,13
7,,20209983,마더체인지,mother change,20200609,2020,06,09
8,이영인,20200003,내연녀,secret mistress,20200609,2020,06,09
9,최정자,20200143,시누이의 맛,,20200612,2020,06,12
2,연상호,20193450,반도,Peninsula,20200715,2020,07,15

In [88]:
movieIDDF = movieIDDF.sort_values(by="openDt")
movieIDDF.head(10)

,directorpeopleNm,movieCd,movieNm,movieNmEn,openDt,year,month,day
3,,20201922,알로하,,,,,
4,,20201941,너의 대학은 : 동아방송예술대학교 편,,,,,
5,스티븐 바우터루드,20199302,테스와 보낸 여름,My Extraordinary Summer with Tess,,,,
6,장 피에르 다르덴,20201803,소년 아메드,Young Ahmed,,,,
0,,30209992,경복궁1234,The women of Kyeongbokgung,19720513,1972,05,13
1,,30209993,경복궁12345,The women of Kyeongbokgung,19720513,1972,05,13
7,,20209983,마더체인지,mother change,20200609,2020,06,09
8,이영인,20200003,내연녀,secret mistress,20200609,2020,06,09
9,최정자,20200143,시누이의 맛,,20200612,2020,06,12
2,연상호,20193450,반도,Peninsula,20200715,2020,07,15

In [89]:
movieIDDF.set_index("movieCd")
movieIDDF.head()

,directorpeopleNm,movieCd,movieNm,movieNmEn,openDt,year,month,day
3,,20201922,알로하,,,,,
4,,20201941,너의 대학은 : 동아방송예술대학교 편,,,,,
5,스티븐 바우터루드,20199302,테스와 보낸 여름,My Extraordinary Summer with Tess,,,,
6,장 피에르 다르덴,20201803,소년 아메드,Young Ahmed,,,,
0,,30209992,경복궁1234,The women of Kyeongbokgung,19720513,1972,05,13

In [93]:
col_list = ["openDt", "year", "month", "day", "movieNm", "movieNmEn","directorpeopleNm","movieCd"]
movieIDDF = movieIDDF.loc[:, col_list]
movieIDDF.head(10)

,openDt,year,month,day,movieNm,movieNmEn,directorpeopleNm,movieCd
3,,,,,알로하,,,20201922
4,,,,,너의 대학은 : 동아방송예술대학교 편,,,20201941
5,,,,,테스와 보낸 여름,My Extraordinary Summer with Tess,스티븐 바우터루드,20199302
6,,,,,소년 아메드,Young Ahmed,장 피에르 다르덴,20201803
0,19720513,1972,05,13,경복궁1234,The women of Kyeongbokgung,,30209992
1,19720513,1972,05,13,경복궁12345,The women of Kyeongbokgung,,30209993
7,20200609,2020,06,09,마더체인지,mother change,,20209983
8,20200609,2020,06,09,내연녀,secret mistress,이영인,20200003
9,20200612,2020,06,12,시누이의 맛,,최정자,20200143
2,20200715,2020,07,15,반도,Peninsula,연상호,20193450

In [95]:
movieIDDF.to_csv("kobis20200630.csv")