In [31]:
import numpy as np
import pandas as pd

In [44]:
# worldDF = pd.read_csv("world_wage.csv")
# df.head(5).decode('utf8'),encoding=('utf-8')
# df=pd.read_csv(path)
# df.head(5)

path = "world_wage.csv"
df=pd.read_csv(path)
df.head(20)

                국가별  2014  2015  2016  2017  2018
0               아시아   NaN   NaN   NaN   NaN   NaN
1       한국(E.G./m.)  3338  3154  3114  3236  3499
2    아르메니아(E.G./m.)   239   212   216   221     -
3    방글라데시(E.G./m.)     -     -   158   142     -
4     브루나이(E.G./m.)   752     -     -   616     -
5     캄보디아(E.G./m.)   145   161   184     -     -
6       중국(E.G./m.)   697   740   746     -     -
7     키프로스(E.G./m.)  1970  1651  1659  1719  1797
8    인도네시아(E.G./m.)   134   124     -     -     -
9     이스라엘(E.G./m.)  3167  2861  3148     -     -
10      일본(E.G./m.)  2750  2427  2712  2626  2685
11   카자흐스탄(E.G./m.)   711   620   449   511     -
12  키르기즈스탄(E.G./m.)   227   199   201   215   229
13     라오스(E.G./m.)     -     -     -   256     -
14   말레이시아(E.G./m.)   615   522   513     -     -
15      네팔(E.G./m.)     -     -     -   167     -
16    파키스탄(E.G./m.)   121   137     -   161   143
17              필리핀   235   228   243   238   242
18    스리랑카(E.G./m.)   140   153   160     -     -
19               태국   418   312   395   412   442

In [24]:
print(weaSoup)

<?xml version="1.0" encoding="UTF-8"?>
<response><header><resultcode>00</resultcode><resultmsg>NORMAL_SERVICE</resultmsg></header><body><datatype>XML</datatype><items><item><basedate>20200707</basedate><basetime>0600</basetime><category>PTY</category><nx>55</nx><ny>127</ny><obsrvalue>0</obsrvalue></item><item><basedate>20200707</basedate><basetime>0600</basetime><category>REH</category><nx>55</nx><ny>127</ny><obsrvalue>83</obsrvalue></item><item><basedate>20200707</basedate><basetime>0600</basetime><category>RN1</category><nx>55</nx><ny>127</ny><obsrvalue>0</obsrvalue></item><item><basedate>20200707</basedate><basetime>0600</basetime><category>T1H</category><nx>55</nx><ny>127</ny><obsrvalue>21.6</obsrvalue></item><item><basedate>20200707</basedate><basetime>0600</basetime><category>UUU</category><nx>55</nx><ny>127</ny><obsrvalue>0.7</obsrvalue></item><item><basedate>20200707</basedate><basetime>0600</basetime><category>VEC</category><nx>55</nx><ny>127</ny><obsrvalue>272</obsrvalue></item><item><basedate>20200707</basedate><basetime>0600</basetime><category>VVV</category><nx>55</nx><ny>127</ny><obsrvalue>0</obsrvalue></item><item><basedate>20200707</basedate><basetime>0600</basetime><category>WSD</category><nx>55</nx><ny>127</ny><obsrvalue>0.7</obsrvalue></item></items><numofrows>10</numofrows><pageno>1</pageno><totalcount>8</totalcount></body></response>

In [25]:
weaSoup

<?xml version="1.0" encoding="UTF-8"?>
<response><header><resultcode>00</resultcode><resultmsg>NORMAL_SERVICE</resultmsg></header><body><datatype>XML</datatype><items><item><basedate>20200707</basedate><basetime>0600</basetime><category>PTY</category><nx>55</nx><ny>127</ny><obsrvalue>0</obsrvalue></item><item><basedate>20200707</basedate><basetime>0600</basetime><category>REH</category><nx>55</nx><ny>127</ny><obsrvalue>83</obsrvalue></item><item><basedate>20200707</basedate><basetime>0600</basetime><category>RN1</category><nx>55</nx><ny>127</ny><obsrvalue>0</obsrvalue></item><item><basedate>20200707</basedate><basetime>0600</basetime><category>T1H</category><nx>55</nx><ny>127</ny><obsrvalue>21.6</obsrvalue></item><item><basedate>20200707</basedate><basetime>0600</basetime><category>UUU</category><nx>55</nx><ny>127</ny><obsrvalue>0.7</obsrvalue></item><item><basedate>20200707</basedate><basetime>0600</basetime><category>VEC</category><nx>55</nx><ny>127</ny><obsrvalue>272</obsrvalue></item><item><basedate>20200707</basedate><basetime>0600</basetime><category>VVV</category><nx>55</nx><ny>127</ny><obsrvalue>0</obsrvalue></item><item><basedate>20200707</basedate><basetime>0600</basetime><category>WSD</category><nx>55</nx><ny>127</ny><obsrvalue>0.7</obsrvalue></item></items><numofrows>10</numofrows><pageno>1</pageno><totalcount>8</totalcount></body></response>

In [20]:
print(weaSoup.prettify())

<?xml version="1.0" encoding="UTF-8"?>
<response>
 <header>
  <resultcode>
   00
  </resultcode>
  <resultmsg>
   NORMAL_SERVICE
  </resultmsg>
 </header>
 <body>
  <datatype>
   XML
  </datatype>
  <items>
   <item>
    <basedate>
     20200707
    </basedate>
    <basetime>
     0600
    </basetime>
    <category>
     PTY
    </category>
    <nx>
     55
    </nx>
    <ny>
     127
    </ny>
    <obsrvalue>
     0
    </obsrvalue>
   </item>
   <item>
    <basedate>
     20200707
    </basedate>
    <basetime>
     0600
    </basetime>
    <category>
     REH
    </category>
    <nx>
     55
    </nx>
    <ny>
     127
    </ny>
    <obsrvalue>
     83
    </obsrvalue>
   </item>
   <item>
    <basedate>
     20200707
    </basedate>
    <basetime>
     0600
    </basetime>
    <category>
     RN1
    </category>
    <nx>
     55
    </nx>
    <ny>
     127
    </ny>
    <obsrvalue>
     0
    </obsrvalue>
   </item>
   <item>
    <basedate>
     20200707
    </basedate>
    <basetime>
     0600
    </basetime>
    <category>
     T1H
    </category>
    <nx>
     55
    </nx>
    <ny>
     127
    </ny>
    <obsrvalue>
     21.6
    </obsrvalue>
   </item>
   <item>
    <basedate>
     20200707
    </basedate>
    <basetime>
     0600
    </basetime>
    <category>
     UUU
    </category>
    <nx>
     55
    </nx>
    <ny>
     127
    </ny>
    <obsrvalue>
     0.7
    </obsrvalue>
   </item>
   <item>
    <basedate>
     20200707
    </basedate>
    <basetime>
     0600
    </basetime>
    <category>
     VEC
    </category>
    <nx>
     55
    </nx>
    <ny>
     127
    </ny>
    <obsrvalue>
     272
    </obsrvalue>
   </item>
   <item>
    <basedate>
     20200707
    </basedate>
    <basetime>
     0600
    </basetime>
    <category>
     VVV
    </category>
    <nx>
     55
    </nx>
    <ny>
     127
    </ny>
    <obsrvalue>
     0
    </obsrvalue>
   </item>
   <item>
    <basedate>
     20200707
    </basedate>
    <basetime>
     0600
    </basetime>
    <category>
     WSD
    </category>
    <nx>
     55
    </nx>
    <ny>
     127
    </ny>
    <obsrvalue>
     0.7
    </obsrvalue>
   </item>
  </items>
  <numofrows>
   10
  </numofrows>
  <pageno>
   1
  </pageno>
  <totalcount>
   8
  </totalcount>
 </body>
</response>