In [1]:
import pandas as pd

In [3]:
path ="Game_General.csv"

In [4]:
data = pd.read_csv(path,encoding="utf-8")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte

In [5]:
import chardet
with open(path, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'UTF-16', 'confidence': 1.0, 'language': ''}

In [11]:
data = pd.read_csv(path,encoding='UTF16', sep="\t")
data.head()

,표측1,2018,2018.1,2018.2,2017,2017.1,2017.2,2016,2016.1,2016.2,...,2008.2,2007,2007.1,2007.2,2006,2006.1,2006.2,2005,2005.1,2005.2
0,표측1,1.총계,2.전년대비증감률,3.연평균증감률,1.총계,2.전년대비증감률,3.연평균증감률,1.총계,2.전년대비증감률,3.연평균증감률,...,3.연평균증감률,1.총계,2.전년대비증감률,3.연평균증감률,1.총계,2.전년대비증감률,3.연평균증감률,1.총계,2.전년대비증감률,3.연평균증감률
1,1.사업체수,"13,357.0",3.2,-1.9,"12,937.0",4.6,-3.8,"12,363.0",-10.7,-6.5,...,NaN,"34,533.0",NaN,NaN,"32,802.0",NaN,NaN,"41,062.0",NaN,NaN
2,2.종사자수,"85,492.0",4.3,-0.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.매출액,"14,290,224.0",8.7,9.4,"13,142,272.0",20.6,7.8,"10,894,508.0",1.6,2.8,...,NaN,"5,143,600.0",NaN,NaN,"7,448,900.0",NaN,NaN,"8,679,800.0",NaN,NaN
4,4.부가가치,"6,179,093.0",6.6,7.0,"5,795,742.0",19.5,6.3,"4,848,056.0",-4.0,1.5,...,NaN,"2,487,445.0",NaN,NaN,"3,655,175.0",NaN,NaN,"4,381,563.0",NaN,NaN

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 43 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   표측1     8 non-null      object
 1   2018    8 non-null      object
 2   2018.1  7 non-null      object
 3   2018.2  7 non-null      object
 4   2017    7 non-null      object
 5   2017.1  6 non-null      object
 6   2017.2  6 non-null      object
 7   2016    7 non-null      object
 8   2016.1  6 non-null      object
 9   2016.2  6 non-null      object
 10  2015    7 non-null      object
 11  2015.1  7 non-null      object
 12  2015.2  7 non-null      object
 13  2014    7 non-null      object
 14  2014.1  7 non-null      object
 15  2014.2  7 non-null      object
 16  2013    7 non-null      object
 17  2013.1  6 non-null      object
 18  2013.2  6 non-null      object
 19  2012    7 non-null      object
 20  2012.1  6 non-null      object
 21  2012.2  6 non-null      object
 22  2011    7 non-null      object
 23  2011.1  7 non-null      object
 24  2011.2  6 non-null      object
 25  2010    7 non-null      object
 26  2010.1  6 non-null      object
 27  2010.2  6 non-null      object
 28  2009    7 non-null      object
 29  2009.1  7 non-null      object
 30  2009.2  7 non-null      object
 31  2008    7 non-null      object
 32  2008.1  1 non-null      object
 33  2008.2  1 non-null      object
 34  2007    7 non-null      object
 35  2007.1  1 non-null      object
 36  2007.2  1 non-null      object
 37  2006    7 non-null      object
 38  2006.1  1 non-null      object
 39  2006.2  1 non-null      object
 40  2005    7 non-null      object
 41  2005.1  1 non-null      object
 42  2005.2  1 non-null      object
dtypes: object(43)
memory usage: 2.8+ KB

* 참고) read_csv 파일 관련 사항
error_bad_lines   
    bool, default True
    Lines with too many fields (e.g. a csv line with too many commas) will by default cause an exception to be raised, and no DataFrame will be returned. If False, then these “bad lines” will dropped from the DataFrame that is returned.

In [7]:
data = pd.read_csv(path,encoding='UTF16', error_bad_lines=False)

b'Skipping line 3: expected 1 fields, saw 15\nSkipping line 4: expected 1 fields, saw 2\nSkipping line 5: expected 1 fields, saw 29\nSkipping line 6: expected 1 fields, saw 29\nSkipping line 8: expected 1 fields, saw 26\nSkipping line 9: expected 1 fields, saw 15\n'

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                 --------------  -----
 0   표측1	2018	2018	2018	2017	2017	2017	2016	2016	2016	2015	2015	2015	2014	2014	2014	2013	2013	2013	2012	2012	2012	2011	2011	2011	2010	2010	2010	2009	2009	2009	2008	2008	2008	2007	2007	2007	2006	2006	2006	2005	2005	2005  2 non-null      object
dtypes: object(1)
memory usage: 144.0+ bytes

In [9]:
data

  표측1\t2018\t2018\t2018\t2017\t2017\t2017\t2016\t2016\t2016\t2015\t2015\t2015\t2014\t2014\t2014\t2013\t2013\t2013\t2012\t2012\t2012\t2011\t2011\t2011\t2010\t2010\t2010\t2009\t2009\t2009\t2008\t2008\t2008\t2007\t2007\t2007\t2006\t2006\t2006\t2005\t2005\t2005
0  표측1\t1.총계\t2.전년대비증감률\t3.연평균증감률\t1.총계\t2.전년대비증감...
1  5.부가가치율\t43.2\t\t\t44.1\t\t\t44.5\t\t\t47.1\t0...

In [12]:
path2 ="subway.csv"

In [13]:
with open(path2, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'EUC-KR', 'confidence': 0.99, 'language': 'Korean'}

In [14]:
data2 = pd.read_csv(path2,encoding='EUC-KR')

In [15]:
data2.head()

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202006,1호선,종로5가,52,2,1935,4036,2674,16497,5086,...,2288,17,234,0,0,0,0,0,0,20200703
1,202006,1호선,종각,94,3,3286,4443,3385,26566,5367,...,2630,26,131,0,1,0,0,0,0,20200703
2,202006,1호선,동대문,495,8,14049,2376,9668,7451,14530,...,10726,20,920,0,0,2,1,0,0,20200703
3,202006,1호선,신설동,252,6,9370,2462,8823,8751,17577,...,7379,17,546,0,0,0,0,0,0,20200703
4,202006,1호선,제기동,419,7,4701,2355,8346,9047,20972,...,5226,6,408,0,0,0,0,0,0,20200703