In [72]:
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [32]:
wageURL = "http://apis.data.go.kr/B551982/openApiFullTimeTotal/openXmlFullTimeTotal?serviceKey=vGmcCEppOgKU7A85T2iAM8VepTeNKQ%2B174k3pYOA4LMu099J%2F4CPtZFNOwYZS5kE9ajo7eEUoIYYyztLU75ixw%3D%3D&type=xml&numOfRows=10&pageNo=1&ac_year=2016"
wageURL

'http://apis.data.go.kr/B551982/openApiFullTimeTotal/openXmlFullTimeTotal?serviceKey=vGmcCEppOgKU7A85T2iAM8VepTeNKQ%2B174k3pYOA4LMu099J%2F4CPtZFNOwYZS5kE9ajo7eEUoIYYyztLU75ixw%3D%3D&type=xml&numOfRows=10&pageNo=1&ac_year=2016'

In [33]:
res = urllib.request.urlopen(wageURL)
print(res)

<http.client.HTTPResponse object at 0x0000024764085188>

In [34]:
wageSoup = BeautifulSoup(res, "html.parser")
print(wageSoup)

<?xml version="1.0" encoding="UTF-8"?>
<response>
<remsg>
<resultcode>0</resultcode>
<resultmsg>SUCCESS_INFO</resultmsg>
</remsg>
<items>
<item>
<no>
1
</no>
<ac_year>
2016
</ac_year>
<ent_name>
서울에너지공사
</ent_name>
<t_gi>
7487740.0
</t_gi>
<t_pay_etc>
570510.0
</t_pay_etc>
<t_jesu>
4593430.0
</t_jesu>
<t_overtime_pay>
857165.0
</t_overtime_pay>
<t_su>
1033696.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
205.0
</t_staff>
<t_wyear_wmonth>
20년 0개월
</t_wyear_wmonth>
<t_one_ave_pay>
70939.0
</t_one_ave_pay>
</item>
<item>
<no>
2
</no>
<ac_year>
2016
</ac_year>
<ent_name>
세종특별자치시시설관리공단
</ent_name>
<t_gi>
293921.0
</t_gi>
<t_pay_etc>
58552.0
</t_pay_etc>
<t_jesu>
10020.0
</t_jesu>
<t_overtime_pay>
90815.0
</t_overtime_pay>
<t_su>
0.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
10.0
</t_staff>
<t_wyear_wmonth>
0년 1.7개월
</t_wyear_wmonth>
<t_one_ave_pay>
45331.0
</t_one_ave_pay>
</item>
<item>
<no>
3
</no>
<ac_year>
2016
</ac_year>
<ent_name>
밀양시시설관리공단
</ent_name>
<t_gi>
5226.0
</t_gi>
<t_pay_etc>
0.0
</t_pay_etc>
<t_jesu>
0.0
</t_jesu>
<t_overtime_pay>
0.0
</t_overtime_pay>
<t_su>
0.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
9.0
</t_staff>
<t_wyear_wmonth>
0년 0개월
</t_wyear_wmonth>
<t_one_ave_pay>
581.0
</t_one_ave_pay>
</item>
<item>
<no>
4
</no>
<ac_year>
2016
</ac_year>
<ent_name>
인천관광공사
</ent_name>
<t_gi>
4251042.0
</t_gi>
<t_pay_etc>
48664.0
</t_pay_etc>
<t_jesu>
281592.0
</t_jesu>
<t_overtime_pay>
666644.0
</t_overtime_pay>
<t_su>
0.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
89.0
</t_staff>
<t_wyear_wmonth>
1년 3개월
</t_wyear_wmonth>
<t_one_ave_pay>
58966.0
</t_one_ave_pay>
</item>
<item>
<no>
5
</no>
<ac_year>
2016
</ac_year>
<ent_name>
광명도시공사
</ent_name>
<t_gi>
915933.0
</t_gi>
<t_pay_etc>
155557.0
</t_pay_etc>
<t_jesu>
41729.0
</t_jesu>
<t_overtime_pay>
180969.0
</t_overtime_pay>
<t_su>
0.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
38.0
</t_staff>
<t_wyear_wmonth>
1년 11개월
</t_wyear_wmonth>
<t_one_ave_pay>
34058.0
</t_one_ave_pay>
</item>
<item>
<no>
6
</no>
<ac_year>
2016
</ac_year>
<ent_name>
아산시시설관리공단
</ent_name>
<t_gi>
1409560.0
</t_gi>
<t_pay_etc>
165228.0
</t_pay_etc>
<t_jesu>
419976.0
</t_jesu>
<t_overtime_pay>
234172.0
</t_overtime_pay>
<t_su>
220505.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
70.0
</t_staff>
<t_wyear_wmonth>
2년 0개월
</t_wyear_wmonth>
<t_one_ave_pay>
34992.0
</t_one_ave_pay>
</item>
<item>
<no>
7
</no>
<ac_year>
2016
</ac_year>
<ent_name>
장수한우지방공사
</ent_name>
<t_gi>
374115.0
</t_gi>
<t_pay_etc>
81677.0
</t_pay_etc>
<t_jesu>
45969.0
</t_jesu>
<t_overtime_pay>
0.0
</t_overtime_pay>
<t_su>
20059.0
</t_su>
<t_evaluation>
33434.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
16.0
</t_staff>
<t_wyear_wmonth>
2년 7개월
</t_wyear_wmonth>
<t_one_ave_pay>
34703.0
</t_one_ave_pay>
</item>
<item>
<no>
8
</no>
<ac_year>
2016
</ac_year>
<ent_name>
광주광역시광산구시설관리공단
</ent_name>
<t_gi>
3084142.0
</t_gi>
<t_pay_etc>
642771.0
</t_pay_etc>
<t_jesu>
2301480.0
</t_jesu>
<t_overtime_pay>
1605288.0
</t_overtime_pay>
<t_su>
5166.0
</t_su>
<t_evaluation>
32287.0
</t_evaluation>
<t_sang>
17428.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
143.0
</t_staff>
<t_wyear_wmonth>
1년 6개월
</t_wyear_wmonth>
<t_one_ave_pay>
53766.0
</t_one_ave_pay>
</item>
<item>
<no>
9
</no>
<ac_year>
2016
</ac_year>
<ent_name>
대구광역시달성군시설관리공단
</ent_name>
<t_gi>
2335038.0
</t_gi>
<t_pay_etc>
461440.0
</t_pay_etc>
<t_jesu>
381016.0
</t_jesu>
<t_overtime_pay>
508395.0
</t_overtime_pay>
<t_su>
0.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
131.0
</t_staff>
<t_wyear_wmonth>
2년 9개월
</t_wyear_wmonth>
<t_one_ave_pay>
28137.0
</t_one_ave_pay>
</item>
<item>
<no>
10
</no>
<ac_year>
2016
</ac_year>
<ent_name>
김해시도시개발공사
</ent_name>
<t_gi>
6249154.0
</t_gi>
<t_pay_etc>
1349022.0
</t_pay_etc>
<t_jesu>
961689.0
</t_jesu>
<t_overtime_pay>
1002327.0
</t_overtime_pay>
<t_su>
222828.0
</t_su>
<t_evaluation>
523643.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
218.0
</t_staff>
<t_wyear_wmonth>
7년 0개월
</t_wyear_wmonth>
<t_one_ave_pay>
47287.0
</t_one_ave_pay>
</item>
<item>
<no>
11
</no>
<ac_year>
2016
</ac_year>
<ent_name>
성남도시개발공사
</ent_name>
<t_gi>
1.759519E7
</t_gi>
<t_pay_etc>
3839357.0
</t_pay_etc>
<t_jesu>
4804020.0
</t_jesu>
<t_overtime_pay>
5065754.0
</t_overtime_pay>
<t_su>
1487807.0
</t_su>
<t_evaluation>
1751143.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
783.0
</t_staff>
<t_wyear_wmonth>
8년 6개월
</t_wyear_wmonth>
<t_one_ave_pay>
44117.0
</t_one_ave_pay>
</item>
<item>
<no>
12
</no>
<ac_year>
2016
</ac_year>
<ent_name>
부여군시설관리공단
</ent_name>
<t_gi>
1396456.0
</t_gi>
<t_pay_etc>
191794.0
</t_pay_etc>
<t_jesu>
132235.0
</t_jesu>
<t_overtime_pay>
139588.0
</t_overtime_pay>
<t_su>
159069.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
54.0
</t_staff>
<t_wyear_wmonth>
10년 1개월
</t_wyear_wmonth>
<t_one_ave_pay>
37392.0
</t_one_ave_pay>
</item>
<item>
<no>
13
</no>
<ac_year>
2016
</ac_year>
<ent_name>
울산광역시중구도시관리공단
</ent_name>
<t_gi>
453696.0
</t_gi>
<t_pay_etc>
110356.0
</t_pay_etc>
<t_jesu>
68541.0
</t_jesu>
<t_overtime_pay>
87926.0
</t_overtime_pay>
<t_su>
54899.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
20.0
</t_staff>
<t_wyear_wmonth>
1년 11개월
</t_wyear_wmonth>
<t_one_ave_pay>
38771.0
</t_one_ave_pay>
</item>
<item>
<no>
14
</no>
<ac_year>
2016
</ac_year>
<ent_name>
이천시시설관리공단
</ent_name>
<t_gi>
299233.0
</t_gi>
<t_pay_etc>
80158.0
</t_pay_etc>
<t_jesu>
62575.0
</t_jesu>
<t_overtime_pay>
44180.0
</t_overtime_pay>
<t_su>
8386.0
</t_su>
<t_evaluation>
33989.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
14.0
</t_staff>
<t_wyear_wmonth>
3년 6개월
</t_wyear_wmonth>
<t_one_ave_pay>
37752.0
</t_one_ave_pay>
</item>
<item>
<no>
15
</no>
<ac_year>
2016
</ac_year>
<ent_name>
부산관광공사
</ent_name>
<t_gi>
3636089.0
</t_gi>
<t_pay_etc>
158056.0
</t_pay_etc>
<t_jesu>
256951.0
</t_jesu>
<t_overtime_pay>
451758.0
</t_overtime_pay>
<t_su>
421026.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
120.0
</t_staff>
<t_wyear_wmonth>
3년 6개월
</t_wyear_wmonth>
<t_one_ave_pay>
41032.0
</t_one_ave_pay>
</item>
<item>
<no>
16
</no>
<ac_year>
2016
</ac_year>
<ent_name>
구리도시공사
</ent_name>
<t_gi>
1295839.0
</t_gi>
<t_pay_etc>
0.0
</t_pay_etc>
<t_jesu>
39717.0
</t_jesu>
<t_overtime_pay>
211705.0
</t_overtime_pay>
<t_su>
0.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
36.0
</t_staff>
<t_wyear_wmonth>
1년 6개월
</t_wyear_wmonth>
<t_one_ave_pay>
42979.0
</t_one_ave_pay>
</item>
<item>
<no>
17
</no>
<ac_year>
2016
</ac_year>
<ent_name>
경상북도문화관광공사
</ent_name>
<t_gi>
6150604.0
</t_gi>
<t_pay_etc>
0.0
</t_pay_etc>
<t_jesu>
410739.0
</t_jesu>
<t_overtime_pay>
616390.0
</t_overtime_pay>
<t_su>
677648.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
139.0
</t_staff>
<t_wyear_wmonth>
17년 6개월
</t_wyear_wmonth>
<t_one_ave_pay>
56514.0
</t_one_ave_pay>
</item>
<item>
<no>
18
</no>
<ac_year>
2016
</ac_year>
<ent_name>
제주에너지공사
</ent_name>
<t_gi>
1003618.0
</t_gi>
<t_pay_etc>
0.0
</t_pay_etc>
<t_jesu>
91660.0
</t_jesu>
<t_overtime_pay>
172509.0
</t_overtime_pay>
<t_su>
39600.0
</t_su>
<t_evaluation>
76458.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
33.0
</t_staff>
<t_wyear_wmonth>
2년 8개월
</t_wyear_wmonth>
<t_one_ave_pay>
41935.0
</t_one_ave_pay>
</item>
<item>
<no>
19
</no>
<ac_year>
2016
</ac_year>
<ent_name>
거제해양관광개발공사
</ent_name>
<t_gi>
4487534.0
</t_gi>
<t_pay_etc>
996407.0
</t_pay_etc>
<t_jesu>
857343.0
</t_jesu>
<t_overtime_pay>
948130.0
</t_overtime_pay>
<t_su>
171028.0
</t_su>
<t_evaluation>
341986.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
184.0
</t_staff>
<t_wyear_wmonth>
10년 4개월
</t_wyear_wmonth>
<t_one_ave_pay>
42405.0
</t_one_ave_pay>
</item>
<item>
<no>
20
</no>
<ac_year>
2016
</ac_year>
<ent_name>
대전마케팅공사
</ent_name>
<t_gi>
2608959.0
</t_gi>
<t_pay_etc>
421047.0
</t_pay_etc>
<t_jesu>
1346785.0
</t_jesu>
<t_overtime_pay>
567169.0
</t_overtime_pay>
<t_su>
451186.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
94.0
</t_staff>
<t_wyear_wmonth>
15년 6개월
</t_wyear_wmonth>
<t_one_ave_pay>
57395.0
</t_one_ave_pay>
</item>
<item>
<no>
21
</no>
<ac_year>
2016
</ac_year>
<ent_name>
청송사과유통공사(폐지)
</ent_name>
<t_gi>
350598.0
</t_gi>
<t_pay_etc>
75518.0
</t_pay_etc>
<t_jesu>
60319.0
</t_jesu>
<t_overtime_pay>
122460.0
</t_overtime_pay>
<t_su>
68182.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
13.0
</t_staff>
<t_wyear_wmonth>
4년 5개월
</t_wyear_wmonth>
<t_one_ave_pay>
52083.0
</t_one_ave_pay>
</item>
<item>
<no>
22
</no>
<ac_year>
2016
</ac_year>
<ent_name>
천안시시설관리공단
</ent_name>
<t_gi>
2696690.0
</t_gi>
<t_pay_etc>
430598.0
</t_pay_etc>
<t_jesu>
346146.0
</t_jesu>
<t_overtime_pay>
484091.0
</t_overtime_pay>
<t_su>
282402.0
</t_su>
<t_evaluation>
282402.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
110.0
</t_staff>
<t_wyear_wmonth>
3년 9개월
</t_wyear_wmonth>
<t_one_ave_pay>
41112.0
</t_one_ave_pay>
</item>
<item>
<no>
23
</no>
<ac_year>
2016
</ac_year>
<ent_name>
여주도시관리공단
</ent_name>
<t_gi>
1244611.0
</t_gi>
<t_pay_etc>
434881.0
</t_pay_etc>
<t_jesu>
195516.0
</t_jesu>
<t_overtime_pay>
376269.0
</t_overtime_pay>
<t_su>
46543.0
</t_su>
<t_evaluation>
7742.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
55.0
</t_staff>
<t_wyear_wmonth>
2년 9개월
</t_wyear_wmonth>
<t_one_ave_pay>
41919.0
</t_one_ave_pay>
</item>
<item>
<no>
24
</no>
<ac_year>
2016
</ac_year>
<ent_name>
영월군시설관리공단
</ent_name>
<t_gi>
758560.0
</t_gi>
<t_pay_etc>
107628.0
</t_pay_etc>
<t_jesu>
74653.0
</t_jesu>
<t_overtime_pay>
57233.0
</t_overtime_pay>
<t_su>
41190.0
</t_su>
<t_evaluation>
57591.0
</t_evaluation>
<t_sang>
20687.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
31.0
</t_staff>
<t_wyear_wmonth>
5년 6개월
</t_wyear_wmonth>
<t_one_ave_pay>
36050.0
</t_one_ave_pay>
</item>
<item>
<no>
25
</no>
<ac_year>
2016
</ac_year>
<ent_name>
의왕도시공사
</ent_name>
<t_gi>
3843929.0
</t_gi>
<t_pay_etc>
571982.0
</t_pay_etc>
<t_jesu>
221140.0
</t_jesu>
<t_overtime_pay>
855867.0
</t_overtime_pay>
<t_su>
84756.0
</t_su>
<t_evaluation>
229455.0
</t_evaluation>
<t_sang>
247812.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
138.0
</t_staff>
<t_wyear_wmonth>
5년 8개월
</t_wyear_wmonth>
<t_one_ave_pay>
43876.0
</t_one_ave_pay>
</item>
<item>
<no>
26
</no>
<ac_year>
2016
</ac_year>
<ent_name>
고양도시관리공사
</ent_name>
<t_gi>
6437520.0
</t_gi>
<t_pay_etc>
1322187.0
</t_pay_etc>
<t_jesu>
2391029.0
</t_jesu>
<t_overtime_pay>
2721571.0
</t_overtime_pay>
<t_su>
251721.0
</t_su>
<t_evaluation>
609819.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
282.3
</t_staff>
<t_wyear_wmonth>
6년 8개월
</t_wyear_wmonth>
<t_one_ave_pay>
48650.0
</t_one_ave_pay>
</item>
<item>
<no>
27
</no>
<ac_year>
2016
</ac_year>
<ent_name>
김포도시공사
</ent_name>
<t_gi>
8538747.0
</t_gi>
<t_pay_etc>
1476178.0
</t_pay_etc>
<t_jesu>
1344279.0
</t_jesu>
<t_overtime_pay>
1598949.0
</t_overtime_pay>
<t_su>
299038.0
</t_su>
<t_evaluation>
597848.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
327.0
</t_staff>
<t_wyear_wmonth>
5년 0개월
</t_wyear_wmonth>
<t_one_ave_pay>
42370.0
</t_one_ave_pay>
</item>
<item>
<no>
28
</no>
<ac_year>
2016
</ac_year>
<ent_name>
포항시시설관리공단
</ent_name>
<t_gi>
3336493.0
</t_gi>
<t_pay_etc>
681479.0
</t_pay_etc>
<t_jesu>
1108366.0
</t_jesu>
<t_overtime_pay>
843322.0
</t_overtime_pay>
<t_su>
244174.0
</t_su>
<t_evaluation>
322957.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
162.0
</t_staff>
<t_wyear_wmonth>
7년 9개월
</t_wyear_wmonth>
<t_one_ave_pay>
40351.0
</t_one_ave_pay>
</item>
<item>
<no>
29
</no>
<ac_year>
2016
</ac_year>
<ent_name>
춘천도시공사
</ent_name>
<t_gi>
4349467.0
</t_gi>
<t_pay_etc>
976979.0
</t_pay_etc>
<t_jesu>
1076833.0
</t_jesu>
<t_overtime_pay>
1108892.0
</t_overtime_pay>
<t_su>
494365.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
73689.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
205.0
</t_staff>
<t_wyear_wmonth>
13년 6개월
</t_wyear_wmonth>
<t_one_ave_pay>
39416.0
</t_one_ave_pay>
</item>
<item>
<no>
30
</no>
<ac_year>
2016
</ac_year>
<ent_name>
강릉관광개발공사
</ent_name>
<t_gi>
774307.0
</t_gi>
<t_pay_etc>
17220.0
</t_pay_etc>
<t_jesu>
173007.0
</t_jesu>
<t_overtime_pay>
125586.0
</t_overtime_pay>
<t_su>
82641.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
32.0
</t_staff>
<t_wyear_wmonth>
3년 7개월
</t_wyear_wmonth>
<t_one_ave_pay>
36649.0
</t_one_ave_pay>
</item>
<item>
<no>
31
</no>
<ac_year>
2016
</ac_year>
<ent_name>
보령시시설관리공단
</ent_name>
<t_gi>
1937187.0
</t_gi>
<t_pay_etc>
0.0
</t_pay_etc>
<t_jesu>
737860.0
</t_jesu>
<t_overtime_pay>
237865.0
</t_overtime_pay>
<t_su>
67864.0
</t_su>
<t_evaluation>
169660.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
70.0
</t_staff>
<t_wyear_wmonth>
4년 9개월
</t_wyear_wmonth>
<t_one_ave_pay>
45006.0
</t_one_ave_pay>
</item>
<item>
<no>
32
</no>
<ac_year>
2016
</ac_year>
<ent_name>
당진항만관광공사
</ent_name>
<t_gi>
239676.0
</t_gi>
<t_pay_etc>
40538.0
</t_pay_etc>
<t_jesu>
23699.0
</t_jesu>
<t_overtime_pay>
2825.0
</t_overtime_pay>
<t_su>
0.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
11.0
</t_staff>
<t_wyear_wmonth>
3년 11개월
</t_wyear_wmonth>
<t_one_ave_pay>
27885.0
</t_one_ave_pay>
</item>
<item>
<no>
33
</no>
<ac_year>
2016
</ac_year>
<ent_name>
포천시시설관리공단
</ent_name>
<t_gi>
2192233.0
</t_gi>
<t_pay_etc>
542739.0
</t_pay_etc>
<t_jesu>
422451.0
</t_jesu>
<t_overtime_pay>
234545.0
</t_overtime_pay>
<t_su>
373209.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
96.0
</t_staff>
<t_wyear_wmonth>
5년 10개월
</t_wyear_wmonth>
<t_one_ave_pay>
39221.0
</t_one_ave_pay>
</item>
<item>
<no>
34
</no>
<ac_year>
2016
</ac_year>
<ent_name>
인천광역시중구시설관리공단
</ent_name>
<t_gi>
2161015.0
</t_gi>
<t_pay_etc>
179287.0
</t_pay_etc>
<t_jesu>
191607.0
</t_jesu>
<t_overtime_pay>
545692.0
</t_overtime_pay>
<t_su>
668859.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
126.0
</t_staff>
<t_wyear_wmonth>
3년 6개월
</t_wyear_wmonth>
<t_one_ave_pay>
29734.0
</t_one_ave_pay>
</item>
<item>
<no>
35
</no>
<ac_year>
2016
</ac_year>
<ent_name>
여수시도시관리공단
</ent_name>
<t_gi>
1.3855399E7
</t_gi>
<t_pay_etc>
0.0
</t_pay_etc>
<t_jesu>
593447.0
</t_jesu>
<t_overtime_pay>
3812266.0
</t_overtime_pay>
<t_su>
0.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
297.0
</t_staff>
<t_wyear_wmonth>
5년 11개월
</t_wyear_wmonth>
<t_one_ave_pay>
61485.0
</t_one_ave_pay>
</item>
<item>
<no>
36
</no>
<ac_year>
2016
</ac_year>
<ent_name>
양산시시설관리공단
</ent_name>
<t_gi>
2424138.0
</t_gi>
<t_pay_etc>
589856.0
</t_pay_etc>
<t_jesu>
164514.0
</t_jesu>
<t_overtime_pay>
247202.0
</t_overtime_pay>
<t_su>
380358.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
93.0
</t_staff>
<t_wyear_wmonth>
4년 0개월
</t_wyear_wmonth>
<t_one_ave_pay>
40925.0
</t_one_ave_pay>
</item>
<item>
<no>
37
</no>
<ac_year>
2016
</ac_year>
<ent_name>
단양관광관리공단
</ent_name>
<t_gi>
1117028.0
</t_gi>
<t_pay_etc>
163964.0
</t_pay_etc>
<t_jesu>
170288.0
</t_jesu>
<t_overtime_pay>
199510.0
</t_overtime_pay>
<t_su>
142867.0
</t_su>
<t_evaluation>
39409.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
46.0
</t_staff>
<t_wyear_wmonth>
4년 4개월
</t_wyear_wmonth>
<t_one_ave_pay>
39849.0
</t_one_ave_pay>
</item>
<item>
<no>
38
</no>
<ac_year>
2016
</ac_year>
<ent_name>
부산광역시기장군도시관리공단
</ent_name>
<t_gi>
1942855.0
</t_gi>
<t_pay_etc>
751959.0
</t_pay_etc>
<t_jesu>
176781.0
</t_jesu>
<t_overtime_pay>
286975.0
</t_overtime_pay>
<t_su>
192431.0
</t_su>
<t_evaluation>
283518.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
97.0
</t_staff>
<t_wyear_wmonth>
4년 11개월
</t_wyear_wmonth>
<t_one_ave_pay>
37469.0
</t_one_ave_pay>
</item>
<item>
<no>
39
</no>
<ac_year>
2016
</ac_year>
<ent_name>
함안지방공사
</ent_name>
<t_gi>
1254443.0
</t_gi>
<t_pay_etc>
490804.0
</t_pay_etc>
<t_jesu>
592409.0
</t_jesu>
<t_overtime_pay>
249945.0
</t_overtime_pay>
<t_su>
289876.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
72.0
</t_staff>
<t_wyear_wmonth>
4년 7개월
</t_wyear_wmonth>
<t_one_ave_pay>
39965.0
</t_one_ave_pay>
</item>
<item>
<no>
40
</no>
<ac_year>
2016
</ac_year>
<ent_name>
안산도시공사
</ent_name>
<t_gi>
8918511.0
</t_gi>
<t_pay_etc>
39150.0
</t_pay_etc>
<t_jesu>
492847.0
</t_jesu>
<t_overtime_pay>
1415049.0
</t_overtime_pay>
<t_su>
1272531.0
</t_su>
<t_evaluation>
689323.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
321.0
</t_staff>
<t_wyear_wmonth>
5년 6개월
</t_wyear_wmonth>
<t_one_ave_pay>
39961.0
</t_one_ave_pay>
</item>
<item>
<no>
41
</no>
<ac_year>
2016
</ac_year>
<ent_name>
제주관광공사
</ent_name>
<t_gi>
4405596.0
</t_gi>
<t_pay_etc>
0.0
</t_pay_etc>
<t_jesu>
215070.0
</t_jesu>
<t_overtime_pay>
570277.0
</t_overtime_pay>
<t_su>
850084.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
96955.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
151.0
</t_staff>
<t_wyear_wmonth>
4년 5개월
</t_wyear_wmonth>
<t_one_ave_pay>
40649.0
</t_one_ave_pay>
</item>
<item>
<no>
42
</no>
<ac_year>
2016
</ac_year>
<ent_name>
울주군시설관리공단
</ent_name>
<t_gi>
2923845.0
</t_gi>
<t_pay_etc>
825736.0
</t_pay_etc>
<t_jesu>
338085.0
</t_jesu>
<t_overtime_pay>
959905.0
</t_overtime_pay>
<t_su>
150601.0
</t_su>
<t_evaluation>
242177.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
160.0
</t_staff>
<t_wyear_wmonth>
7년 5개월
</t_wyear_wmonth>
<t_one_ave_pay>
34002.0
</t_one_ave_pay>
</item>
<item>
<no>
43
</no>
<ac_year>
2016
</ac_year>
<ent_name>
양평공사
</ent_name>
<t_gi>
2826525.0
</t_gi>
<t_pay_etc>
192970.0
</t_pay_etc>
<t_jesu>
9360.0
</t_jesu>
<t_overtime_pay>
76224.0
</t_overtime_pay>
<t_su>
0.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
130.0
</t_staff>
<t_wyear_wmonth>
3년 11개월
</t_wyear_wmonth>
<t_one_ave_pay>
23885.0
</t_one_ave_pay>
</item>
<item>
<no>
44
</no>
<ac_year>
2016
</ac_year>
<ent_name>
평택도시공사
</ent_name>
<t_gi>
2055196.0
</t_gi>
<t_pay_etc>
257781.0
</t_pay_etc>
<t_jesu>
250171.0
</t_jesu>
<t_overtime_pay>
450903.0
</t_overtime_pay>
<t_su>
195908.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
29667.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
76.0
</t_staff>
<t_wyear_wmonth>
3년 2개월
</t_wyear_wmonth>
<t_one_ave_pay>
42627.0
</t_one_ave_pay>
</item>
<item>
<no>
45
</no>
<ac_year>
2016
</ac_year>
<ent_name>
강화군시설관리공단
</ent_name>
<t_gi>
1810689.0
</t_gi>
<t_pay_etc>
395534.0
</t_pay_etc>
<t_jesu>
310134.0
</t_jesu>
<t_overtime_pay>
131236.0
</t_overtime_pay>
<t_su>
168491.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
74.0
</t_staff>
<t_wyear_wmonth>
6년 0개월
</t_wyear_wmonth>
<t_one_ave_pay>
38055.0
</t_one_ave_pay>
</item>
<item>
<no>
46
</no>
<ac_year>
2016
</ac_year>
<ent_name>
군포도시공사

In [35]:
print(wageSoup.prettify())

<?xml version="1.0" encoding="UTF-8"?>
<response>
 <remsg>
  <resultcode>
   0
  </resultcode>
  <resultmsg>
   SUCCESS_INFO
  </resultmsg>
 </remsg>
 <items>
  <item>
   <no>
    1
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    서울에너지공사
   </ent_name>
   <t_gi>
    7487740.0
   </t_gi>
   <t_pay_etc>
    570510.0
   </t_pay_etc>
   <t_jesu>
    4593430.0
   </t_jesu>
   <t_overtime_pay>
    857165.0
   </t_overtime_pay>
   <t_su>
    1033696.0
   </t_su>
   <t_evaluation>
    0.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    205.0
   </t_staff>
   <t_wyear_wmonth>
    20년 0개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    70939.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    2
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    세종특별자치시시설관리공단
   </ent_name>
   <t_gi>
    293921.0
   </t_gi>
   <t_pay_etc>
    58552.0
   </t_pay_etc>
   <t_jesu>
    10020.0
   </t_jesu>
   <t_overtime_pay>
    90815.0
   </t_overtime_pay>
   <t_su>
    0.0
   </t_su>
   <t_evaluation>
    0.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    10.0
   </t_staff>
   <t_wyear_wmonth>
    0년 1.7개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    45331.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    3
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    밀양시시설관리공단
   </ent_name>
   <t_gi>
    5226.0
   </t_gi>
   <t_pay_etc>
    0.0
   </t_pay_etc>
   <t_jesu>
    0.0
   </t_jesu>
   <t_overtime_pay>
    0.0
   </t_overtime_pay>
   <t_su>
    0.0
   </t_su>
   <t_evaluation>
    0.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    9.0
   </t_staff>
   <t_wyear_wmonth>
    0년 0개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    581.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    4
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    인천관광공사
   </ent_name>
   <t_gi>
    4251042.0
   </t_gi>
   <t_pay_etc>
    48664.0
   </t_pay_etc>
   <t_jesu>
    281592.0
   </t_jesu>
   <t_overtime_pay>
    666644.0
   </t_overtime_pay>
   <t_su>
    0.0
   </t_su>
   <t_evaluation>
    0.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    89.0
   </t_staff>
   <t_wyear_wmonth>
    1년 3개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    58966.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    5
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    광명도시공사
   </ent_name>
   <t_gi>
    915933.0
   </t_gi>
   <t_pay_etc>
    155557.0
   </t_pay_etc>
   <t_jesu>
    41729.0
   </t_jesu>
   <t_overtime_pay>
    180969.0
   </t_overtime_pay>
   <t_su>
    0.0
   </t_su>
   <t_evaluation>
    0.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    38.0
   </t_staff>
   <t_wyear_wmonth>
    1년 11개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    34058.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    6
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    아산시시설관리공단
   </ent_name>
   <t_gi>
    1409560.0
   </t_gi>
   <t_pay_etc>
    165228.0
   </t_pay_etc>
   <t_jesu>
    419976.0
   </t_jesu>
   <t_overtime_pay>
    234172.0
   </t_overtime_pay>
   <t_su>
    220505.0
   </t_su>
   <t_evaluation>
    0.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    70.0
   </t_staff>
   <t_wyear_wmonth>
    2년 0개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    34992.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    7
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    장수한우지방공사
   </ent_name>
   <t_gi>
    374115.0
   </t_gi>
   <t_pay_etc>
    81677.0
   </t_pay_etc>
   <t_jesu>
    45969.0
   </t_jesu>
   <t_overtime_pay>
    0.0
   </t_overtime_pay>
   <t_su>
    20059.0
   </t_su>
   <t_evaluation>
    33434.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    16.0
   </t_staff>
   <t_wyear_wmonth>
    2년 7개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    34703.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    8
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    광주광역시광산구시설관리공단
   </ent_name>
   <t_gi>
    3084142.0
   </t_gi>
   <t_pay_etc>
    642771.0
   </t_pay_etc>
   <t_jesu>
    2301480.0
   </t_jesu>
   <t_overtime_pay>
    1605288.0
   </t_overtime_pay>
   <t_su>
    5166.0
   </t_su>
   <t_evaluation>
    32287.0
   </t_evaluation>
   <t_sang>
    17428.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    143.0
   </t_staff>
   <t_wyear_wmonth>
    1년 6개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    53766.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    9
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    대구광역시달성군시설관리공단
   </ent_name>
   <t_gi>
    2335038.0
   </t_gi>
   <t_pay_etc>
    461440.0
   </t_pay_etc>
   <t_jesu>
    381016.0
   </t_jesu>
   <t_overtime_pay>
    508395.0
   </t_overtime_pay>
   <t_su>
    0.0
   </t_su>
   <t_evaluation>
    0.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    131.0
   </t_staff>
   <t_wyear_wmonth>
    2년 9개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    28137.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    10
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    김해시도시개발공사
   </ent_name>
   <t_gi>
    6249154.0
   </t_gi>
   <t_pay_etc>
    1349022.0
   </t_pay_etc>
   <t_jesu>
    961689.0
   </t_jesu>
   <t_overtime_pay>
    1002327.0
   </t_overtime_pay>
   <t_su>
    222828.0
   </t_su>
   <t_evaluation>
    523643.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    218.0
   </t_staff>
   <t_wyear_wmonth>
    7년 0개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    47287.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    11
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    성남도시개발공사
   </ent_name>
   <t_gi>
    1.759519E7
   </t_gi>
   <t_pay_etc>
    3839357.0
   </t_pay_etc>
   <t_jesu>
    4804020.0
   </t_jesu>
   <t_overtime_pay>
    5065754.0
   </t_overtime_pay>
   <t_su>
    1487807.0
   </t_su>
   <t_evaluation>
    1751143.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    783.0
   </t_staff>
   <t_wyear_wmonth>
    8년 6개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    44117.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    12
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    부여군시설관리공단
   </ent_name>
   <t_gi>
    1396456.0
   </t_gi>
   <t_pay_etc>
    191794.0
   </t_pay_etc>
   <t_jesu>
    132235.0
   </t_jesu>
   <t_overtime_pay>
    139588.0
   </t_overtime_pay>
   <t_su>
    159069.0
   </t_su>
   <t_evaluation>
    0.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    54.0
   </t_staff>
   <t_wyear_wmonth>
    10년 1개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    37392.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    13
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    울산광역시중구도시관리공단
   </ent_name>
   <t_gi>
    453696.0
   </t_gi>
   <t_pay_etc>
    110356.0
   </t_pay_etc>
   <t_jesu>
    68541.0
   </t_jesu>
   <t_overtime_pay>
    87926.0
   </t_overtime_pay>
   <t_su>
    54899.0
   </t_su>
   <t_evaluation>
    0.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    20.0
   </t_staff>
   <t_wyear_wmonth>
    1년 11개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    38771.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    14
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    이천시시설관리공단
   </ent_name>
   <t_gi>
    299233.0
   </t_gi>
   <t_pay_etc>
    80158.0
   </t_pay_etc>
   <t_jesu>
    62575.0
   </t_jesu>
   <t_overtime_pay>
    44180.0
   </t_overtime_pay>
   <t_su>
    8386.0
   </t_su>
   <t_evaluation>
    33989.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    14.0
   </t_staff>
   <t_wyear_wmonth>
    3년 6개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    37752.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    15
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    부산관광공사
   </ent_name>
   <t_gi>
    3636089.0
   </t_gi>
   <t_pay_etc>
    158056.0
   </t_pay_etc>
   <t_jesu>
    256951.0
   </t_jesu>
   <t_overtime_pay>
    451758.0
   </t_overtime_pay>
   <t_su>
    421026.0
   </t_su>
   <t_evaluation>
    0.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    120.0
   </t_staff>
   <t_wyear_wmonth>
    3년 6개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    41032.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    16
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    구리도시공사
   </ent_name>
   <t_gi>
    1295839.0
   </t_gi>
   <t_pay_etc>
    0.0
   </t_pay_etc>
   <t_jesu>
    39717.0
   </t_jesu>
   <t_overtime_pay>
    211705.0
   </t_overtime_pay>
   <t_su>
    0.0
   </t_su>
   <t_evaluation>
    0.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    36.0
   </t_staff>
   <t_wyear_wmonth>
    1년 6개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    42979.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    17
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    경상북도문화관광공사
   </ent_name>
   <t_gi>
    6150604.0
   </t_gi>
   <t_pay_etc>
    0.0
   </t_pay_etc>
   <t_jesu>
    410739.0
   </t_jesu>
   <t_overtime_pay>
    616390.0
   </t_overtime_pay>
   <t_su>
    677648.0
   </t_su>
   <t_evaluation>
    0.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    139.0
   </t_staff>
   <t_wyear_wmonth>
    17년 6개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    56514.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    18
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    제주에너지공사
   </ent_name>
   <t_gi>
    1003618.0
   </t_gi>
   <t_pay_etc>
    0.0
   </t_pay_etc>
   <t_jesu>
    91660.0
   </t_jesu>
   <t_overtime_pay>
    172509.0
   </t_overtime_pay>
   <t_su>
    39600.0
   </t_su>
   <t_evaluation>
    76458.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    33.0
   </t_staff>
   <t_wyear_wmonth>
    2년 8개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    41935.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    19
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    거제해양관광개발공사
   </ent_name>
   <t_gi>
    4487534.0
   </t_gi>
   <t_pay_etc>
    996407.0
   </t_pay_etc>
   <t_jesu>
    857343.0
   </t_jesu>
   <t_overtime_pay>
    948130.0
   </t_overtime_pay>
   <t_su>
    171028.0
   </t_su>
   <t_evaluation>
    341986.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    184.0
   </t_staff>
   <t_wyear_wmonth>
    10년 4개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    42405.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    20
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    대전마케팅공사
   </ent_name>
   <t_gi>
    2608959.0
   </t_gi>
   <t_pay_etc>
    421047.0
   </t_pay_etc>
   <t_jesu>
    1346785.0
   </t_jesu>
   <t_overtime_pay>
    567169.0
   </t_overtime_pay>
   <t_su>
    451186.0
   </t_su>
   <t_evaluation>
    0.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    94.0
   </t_staff>
   <t_wyear_wmonth>
    15년 6개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    57395.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    21
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    청송사과유통공사(폐지)
   </ent_name>
   <t_gi>
    350598.0
   </t_gi>
   <t_pay_etc>
    75518.0
   </t_pay_etc>
   <t_jesu>
    60319.0
   </t_jesu>
   <t_overtime_pay>
    122460.0
   </t_overtime_pay>
   <t_su>
    68182.0
   </t_su>
   <t_evaluation>
    0.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    13.0
   </t_staff>
   <t_wyear_wmonth>
    4년 5개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    52083.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    22
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    천안시시설관리공단
   </ent_name>
   <t_gi>
    2696690.0
   </t_gi>
   <t_pay_etc>
    430598.0
   </t_pay_etc>
   <t_jesu>
    346146.0
   </t_jesu>
   <t_overtime_pay>
    484091.0
   </t_overtime_pay>
   <t_su>
    282402.0
   </t_su>
   <t_evaluation>
    282402.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    110.0
   </t_staff>
   <t_wyear_wmonth>
    3년 9개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    41112.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    23
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    여주도시관리공단
   </ent_name>
   <t_gi>
    1244611.0
   </t_gi>
   <t_pay_etc>
    434881.0
   </t_pay_etc>
   <t_jesu>
    195516.0
   </t_jesu>
   <t_overtime_pay>
    376269.0
   </t_overtime_pay>
   <t_su>
    46543.0
   </t_su>
   <t_evaluation>
    7742.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    55.0
   </t_staff>
   <t_wyear_wmonth>
    2년 9개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    41919.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    24
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    영월군시설관리공단
   </ent_name>
   <t_gi>
    758560.0
   </t_gi>
   <t_pay_etc>
    107628.0
   </t_pay_etc>
   <t_jesu>
    74653.0
   </t_jesu>
   <t_overtime_pay>
    57233.0
   </t_overtime_pay>
   <t_su>
    41190.0
   </t_su>
   <t_evaluation>
    57591.0
   </t_evaluation>
   <t_sang>
    20687.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    31.0
   </t_staff>
   <t_wyear_wmonth>
    5년 6개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    36050.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    25
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    의왕도시공사
   </ent_name>
   <t_gi>
    3843929.0
   </t_gi>
   <t_pay_etc>
    571982.0
   </t_pay_etc>
   <t_jesu>
    221140.0
   </t_jesu>
   <t_overtime_pay>
    855867.0
   </t_overtime_pay>
   <t_su>
    84756.0
   </t_su>
   <t_evaluation>
    229455.0
   </t_evaluation>
   <t_sang>
    247812.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    138.0
   </t_staff>
   <t_wyear_wmonth>
    5년 8개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    43876.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    26
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    고양도시관리공사
   </ent_name>
   <t_gi>
    6437520.0
   </t_gi>
   <t_pay_etc>
    1322187.0
   </t_pay_etc>
   <t_jesu>
    2391029.0
   </t_jesu>
   <t_overtime_pay>
    2721571.0
   </t_overtime_pay>
   <t_su>
    251721.0
   </t_su>
   <t_evaluation>
    609819.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    282.3
   </t_staff>
   <t_wyear_wmonth>
    6년 8개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    48650.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    27
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    김포도시공사
   </ent_name>
   <t_gi>
    8538747.0
   </t_gi>
   <t_pay_etc>
    1476178.0
   </t_pay_etc>
   <t_jesu>
    1344279.0
   </t_jesu>
   <t_overtime_pay>
    1598949.0
   </t_overtime_pay>
   <t_su>
    299038.0
   </t_su>
   <t_evaluation>
    597848.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    327.0
   </t_staff>
   <t_wyear_wmonth>
    5년 0개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    42370.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    28
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    포항시시설관리공단
   </ent_name>
   <t_gi>
    3336493.0
   </t_gi>
   <t_pay_etc>
    681479.0
   </t_pay_etc>
   <t_jesu>
    1108366.0
   </t_jesu>
   <t_overtime_pay>
    843322.0
   </t_overtime_pay>
   <t_su>
    244174.0
   </t_su>
   <t_evaluation>
    322957.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    162.0
   </t_staff>
   <t_wyear_wmonth>
    7년 9개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    40351.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    29
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    춘천도시공사
   </ent_name>
   <t_gi>
    4349467.0
   </t_gi>
   <t_pay_etc>
    976979.0
   </t_pay_etc>
   <t_jesu>
    1076833.0
   </t_jesu>
   <t_overtime_pay>
    1108892.0
   </t_overtime_pay>
   <t_su>
    494365.0
   </t_su>
   <t_evaluation>
    0.0
   </t_evaluation>
   <t_sang>
    73689.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    205.0
   </t_staff>
   <t_wyear_wmonth>
    13년 6개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    39416.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    30
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    강릉관광개발공사
   </ent_name>
   <t_gi>
    774307.0
   </t_gi>
   <t_pay_etc>
    17220.0
   </t_pay_etc>
   <t_jesu>
    173007.0
   </t_jesu>
   <t_overtime_pay>
    125586.0
   </t_overtime_pay>
   <t_su>
    82641.0
   </t_su>
   <t_evaluation>
    0.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    32.0
   </t_staff>
   <t_wyear_wmonth>
    3년 7개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    36649.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    31
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    보령시시설관리공단
   </ent_name>
   <t_gi>
    1937187.0
   </t_gi>
   <t_pay_etc>
    0.0
   </t_pay_etc>
   <t_jesu>
    737860.0
   </t_jesu>
   <t_overtime_pay>
    237865.0
   </t_overtime_pay>
   <t_su>
    67864.0
   </t_su>
   <t_evaluation>
    169660.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    70.0
   </t_staff>
   <t_wyear_wmonth>
    4년 9개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    45006.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    32
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    당진항만관광공사
   </ent_name>
   <t_gi>
    239676.0
   </t_gi>
   <t_pay_etc>
    40538.0
   </t_pay_etc>
   <t_jesu>
    23699.0
   </t_jesu>
   <t_overtime_pay>
    2825.0
   </t_overtime_pay>
   <t_su>
    0.0
   </t_su>
   <t_evaluation>
    0.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    11.0
   </t_staff>
   <t_wyear_wmonth>
    3년 11개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    27885.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    33
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    포천시시설관리공단
   </ent_name>
   <t_gi>
    2192233.0
   </t_gi>
   <t_pay_etc>
    542739.0
   </t_pay_etc>
   <t_jesu>
    422451.0
   </t_jesu>
   <t_overtime_pay>
    234545.0
   </t_overtime_pay>
   <t_su>
    373209.0
   </t_su>
   <t_evaluation>
    0.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    96.0
   </t_staff>
   <t_wyear_wmonth>
    5년 10개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    39221.0
   </t_one_ave_pay>
  </item>
  <item>
   <no>
    34
   </no>
   <ac_year>
    2016
   </ac_year>
   <ent_name>
    인천광역시중구시설관리공단
   </ent_name>
   <t_gi>
    2161015.0
   </t_gi>
   <t_pay_etc>
    179287.0
   </t_pay_etc>
   <t_jesu>
    191607.0
   </t_jesu>
   <t_overtime_pay>
    545692.0
   </t_overtime_pay>
   <t_su>
    668859.0
   </t_su>
   <t_evaluation>
    0.0
   </t_evaluation>
   <t_sang>
    0.0
   </t_sang>
   <t_pay_sum>
    null
   </t_pay_sum>
   <t_staff>
    126.0
   </t_staff>
   <t_wyear_wmonth>
    3년 6개월
   </t_wyear_wmonth>
   <t_one_ave_pay>
    29734.0
   </t_one_ave_pay>

In [36]:
print(wageSoup)

<?xml version="1.0" encoding="UTF-8"?>
<response>
<remsg>
<resultcode>0</resultcode>
<resultmsg>SUCCESS_INFO</resultmsg>
</remsg>
<items>
<item>
<no>
1
</no>
<ac_year>
2016
</ac_year>
<ent_name>
서울에너지공사
</ent_name>
<t_gi>
7487740.0
</t_gi>
<t_pay_etc>
570510.0
</t_pay_etc>
<t_jesu>
4593430.0
</t_jesu>
<t_overtime_pay>
857165.0
</t_overtime_pay>
<t_su>
1033696.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
205.0
</t_staff>
<t_wyear_wmonth>
20년 0개월
</t_wyear_wmonth>
<t_one_ave_pay>
70939.0
</t_one_ave_pay>
</item>
<item>
<no>
2
</no>
<ac_year>
2016
</ac_year>
<ent_name>
세종특별자치시시설관리공단
</ent_name>
<t_gi>
293921.0
</t_gi>
<t_pay_etc>
58552.0
</t_pay_etc>
<t_jesu>
10020.0
</t_jesu>
<t_overtime_pay>
90815.0
</t_overtime_pay>
<t_su>
0.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
10.0
</t_staff>
<t_wyear_wmonth>
0년 1.7개월
</t_wyear_wmonth>
<t_one_ave_pay>
45331.0
</t_one_ave_pay>
</item>
<item>
<no>
3
</no>
<ac_year>
2016
</ac_year>
<ent_name>
밀양시시설관리공단
</ent_name>
<t_gi>
5226.0
</t_gi>
<t_pay_etc>
0.0
</t_pay_etc>
<t_jesu>
0.0
</t_jesu>
<t_overtime_pay>
0.0
</t_overtime_pay>
<t_su>
0.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
9.0
</t_staff>
<t_wyear_wmonth>
0년 0개월
</t_wyear_wmonth>
<t_one_ave_pay>
581.0
</t_one_ave_pay>
</item>
<item>
<no>
4
</no>
<ac_year>
2016
</ac_year>
<ent_name>
인천관광공사
</ent_name>
<t_gi>
4251042.0
</t_gi>
<t_pay_etc>
48664.0
</t_pay_etc>
<t_jesu>
281592.0
</t_jesu>
<t_overtime_pay>
666644.0
</t_overtime_pay>
<t_su>
0.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
89.0
</t_staff>
<t_wyear_wmonth>
1년 3개월
</t_wyear_wmonth>
<t_one_ave_pay>
58966.0
</t_one_ave_pay>
</item>
<item>
<no>
5
</no>
<ac_year>
2016
</ac_year>
<ent_name>
광명도시공사
</ent_name>
<t_gi>
915933.0
</t_gi>
<t_pay_etc>
155557.0
</t_pay_etc>
<t_jesu>
41729.0
</t_jesu>
<t_overtime_pay>
180969.0
</t_overtime_pay>
<t_su>
0.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
38.0
</t_staff>
<t_wyear_wmonth>
1년 11개월
</t_wyear_wmonth>
<t_one_ave_pay>
34058.0
</t_one_ave_pay>
</item>
<item>
<no>
6
</no>
<ac_year>
2016
</ac_year>
<ent_name>
아산시시설관리공단
</ent_name>
<t_gi>
1409560.0
</t_gi>
<t_pay_etc>
165228.0
</t_pay_etc>
<t_jesu>
419976.0
</t_jesu>
<t_overtime_pay>
234172.0
</t_overtime_pay>
<t_su>
220505.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
70.0
</t_staff>
<t_wyear_wmonth>
2년 0개월
</t_wyear_wmonth>
<t_one_ave_pay>
34992.0
</t_one_ave_pay>
</item>
<item>
<no>
7
</no>
<ac_year>
2016
</ac_year>
<ent_name>
장수한우지방공사
</ent_name>
<t_gi>
374115.0
</t_gi>
<t_pay_etc>
81677.0
</t_pay_etc>
<t_jesu>
45969.0
</t_jesu>
<t_overtime_pay>
0.0
</t_overtime_pay>
<t_su>
20059.0
</t_su>
<t_evaluation>
33434.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
16.0
</t_staff>
<t_wyear_wmonth>
2년 7개월
</t_wyear_wmonth>
<t_one_ave_pay>
34703.0
</t_one_ave_pay>
</item>
<item>
<no>
8
</no>
<ac_year>
2016
</ac_year>
<ent_name>
광주광역시광산구시설관리공단
</ent_name>
<t_gi>
3084142.0
</t_gi>
<t_pay_etc>
642771.0
</t_pay_etc>
<t_jesu>
2301480.0
</t_jesu>
<t_overtime_pay>
1605288.0
</t_overtime_pay>
<t_su>
5166.0
</t_su>
<t_evaluation>
32287.0
</t_evaluation>
<t_sang>
17428.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
143.0
</t_staff>
<t_wyear_wmonth>
1년 6개월
</t_wyear_wmonth>
<t_one_ave_pay>
53766.0
</t_one_ave_pay>
</item>
<item>
<no>
9
</no>
<ac_year>
2016
</ac_year>
<ent_name>
대구광역시달성군시설관리공단
</ent_name>
<t_gi>
2335038.0
</t_gi>
<t_pay_etc>
461440.0
</t_pay_etc>
<t_jesu>
381016.0
</t_jesu>
<t_overtime_pay>
508395.0
</t_overtime_pay>
<t_su>
0.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
131.0
</t_staff>
<t_wyear_wmonth>
2년 9개월
</t_wyear_wmonth>
<t_one_ave_pay>
28137.0
</t_one_ave_pay>
</item>
<item>
<no>
10
</no>
<ac_year>
2016
</ac_year>
<ent_name>
김해시도시개발공사
</ent_name>
<t_gi>
6249154.0
</t_gi>
<t_pay_etc>
1349022.0
</t_pay_etc>
<t_jesu>
961689.0
</t_jesu>
<t_overtime_pay>
1002327.0
</t_overtime_pay>
<t_su>
222828.0
</t_su>
<t_evaluation>
523643.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
218.0
</t_staff>
<t_wyear_wmonth>
7년 0개월
</t_wyear_wmonth>
<t_one_ave_pay>
47287.0
</t_one_ave_pay>
</item>
<item>
<no>
11
</no>
<ac_year>
2016
</ac_year>
<ent_name>
성남도시개발공사
</ent_name>
<t_gi>
1.759519E7
</t_gi>
<t_pay_etc>
3839357.0
</t_pay_etc>
<t_jesu>
4804020.0
</t_jesu>
<t_overtime_pay>
5065754.0
</t_overtime_pay>
<t_su>
1487807.0
</t_su>
<t_evaluation>
1751143.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
783.0
</t_staff>
<t_wyear_wmonth>
8년 6개월
</t_wyear_wmonth>
<t_one_ave_pay>
44117.0
</t_one_ave_pay>
</item>
<item>
<no>
12
</no>
<ac_year>
2016
</ac_year>
<ent_name>
부여군시설관리공단
</ent_name>
<t_gi>
1396456.0
</t_gi>
<t_pay_etc>
191794.0
</t_pay_etc>
<t_jesu>
132235.0
</t_jesu>
<t_overtime_pay>
139588.0
</t_overtime_pay>
<t_su>
159069.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
54.0
</t_staff>
<t_wyear_wmonth>
10년 1개월
</t_wyear_wmonth>
<t_one_ave_pay>
37392.0
</t_one_ave_pay>
</item>
<item>
<no>
13
</no>
<ac_year>
2016
</ac_year>
<ent_name>
울산광역시중구도시관리공단
</ent_name>
<t_gi>
453696.0
</t_gi>
<t_pay_etc>
110356.0
</t_pay_etc>
<t_jesu>
68541.0
</t_jesu>
<t_overtime_pay>
87926.0
</t_overtime_pay>
<t_su>
54899.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
20.0
</t_staff>
<t_wyear_wmonth>
1년 11개월
</t_wyear_wmonth>
<t_one_ave_pay>
38771.0
</t_one_ave_pay>
</item>
<item>
<no>
14
</no>
<ac_year>
2016
</ac_year>
<ent_name>
이천시시설관리공단
</ent_name>
<t_gi>
299233.0
</t_gi>
<t_pay_etc>
80158.0
</t_pay_etc>
<t_jesu>
62575.0
</t_jesu>
<t_overtime_pay>
44180.0
</t_overtime_pay>
<t_su>
8386.0
</t_su>
<t_evaluation>
33989.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
14.0
</t_staff>
<t_wyear_wmonth>
3년 6개월
</t_wyear_wmonth>
<t_one_ave_pay>
37752.0
</t_one_ave_pay>
</item>
<item>
<no>
15
</no>
<ac_year>
2016
</ac_year>
<ent_name>
부산관광공사
</ent_name>
<t_gi>
3636089.0
</t_gi>
<t_pay_etc>
158056.0
</t_pay_etc>
<t_jesu>
256951.0
</t_jesu>
<t_overtime_pay>
451758.0
</t_overtime_pay>
<t_su>
421026.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
120.0
</t_staff>
<t_wyear_wmonth>
3년 6개월
</t_wyear_wmonth>
<t_one_ave_pay>
41032.0
</t_one_ave_pay>
</item>
<item>
<no>
16
</no>
<ac_year>
2016
</ac_year>
<ent_name>
구리도시공사
</ent_name>
<t_gi>
1295839.0
</t_gi>
<t_pay_etc>
0.0
</t_pay_etc>
<t_jesu>
39717.0
</t_jesu>
<t_overtime_pay>
211705.0
</t_overtime_pay>
<t_su>
0.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
36.0
</t_staff>
<t_wyear_wmonth>
1년 6개월
</t_wyear_wmonth>
<t_one_ave_pay>
42979.0
</t_one_ave_pay>
</item>
<item>
<no>
17
</no>
<ac_year>
2016
</ac_year>
<ent_name>
경상북도문화관광공사
</ent_name>
<t_gi>
6150604.0
</t_gi>
<t_pay_etc>
0.0
</t_pay_etc>
<t_jesu>
410739.0
</t_jesu>
<t_overtime_pay>
616390.0
</t_overtime_pay>
<t_su>
677648.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
139.0
</t_staff>
<t_wyear_wmonth>
17년 6개월
</t_wyear_wmonth>
<t_one_ave_pay>
56514.0
</t_one_ave_pay>
</item>
<item>
<no>
18
</no>
<ac_year>
2016
</ac_year>
<ent_name>
제주에너지공사
</ent_name>
<t_gi>
1003618.0
</t_gi>
<t_pay_etc>
0.0
</t_pay_etc>
<t_jesu>
91660.0
</t_jesu>
<t_overtime_pay>
172509.0
</t_overtime_pay>
<t_su>
39600.0
</t_su>
<t_evaluation>
76458.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
33.0
</t_staff>
<t_wyear_wmonth>
2년 8개월
</t_wyear_wmonth>
<t_one_ave_pay>
41935.0
</t_one_ave_pay>
</item>
<item>
<no>
19
</no>
<ac_year>
2016
</ac_year>
<ent_name>
거제해양관광개발공사
</ent_name>
<t_gi>
4487534.0
</t_gi>
<t_pay_etc>
996407.0
</t_pay_etc>
<t_jesu>
857343.0
</t_jesu>
<t_overtime_pay>
948130.0
</t_overtime_pay>
<t_su>
171028.0
</t_su>
<t_evaluation>
341986.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
184.0
</t_staff>
<t_wyear_wmonth>
10년 4개월
</t_wyear_wmonth>
<t_one_ave_pay>
42405.0
</t_one_ave_pay>
</item>
<item>
<no>
20
</no>
<ac_year>
2016
</ac_year>
<ent_name>
대전마케팅공사
</ent_name>
<t_gi>
2608959.0
</t_gi>
<t_pay_etc>
421047.0
</t_pay_etc>
<t_jesu>
1346785.0
</t_jesu>
<t_overtime_pay>
567169.0
</t_overtime_pay>
<t_su>
451186.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
94.0
</t_staff>
<t_wyear_wmonth>
15년 6개월
</t_wyear_wmonth>
<t_one_ave_pay>
57395.0
</t_one_ave_pay>
</item>
<item>
<no>
21
</no>
<ac_year>
2016
</ac_year>
<ent_name>
청송사과유통공사(폐지)
</ent_name>
<t_gi>
350598.0
</t_gi>
<t_pay_etc>
75518.0
</t_pay_etc>
<t_jesu>
60319.0
</t_jesu>
<t_overtime_pay>
122460.0
</t_overtime_pay>
<t_su>
68182.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
13.0
</t_staff>
<t_wyear_wmonth>
4년 5개월
</t_wyear_wmonth>
<t_one_ave_pay>
52083.0
</t_one_ave_pay>
</item>
<item>
<no>
22
</no>
<ac_year>
2016
</ac_year>
<ent_name>
천안시시설관리공단
</ent_name>
<t_gi>
2696690.0
</t_gi>
<t_pay_etc>
430598.0
</t_pay_etc>
<t_jesu>
346146.0
</t_jesu>
<t_overtime_pay>
484091.0
</t_overtime_pay>
<t_su>
282402.0
</t_su>
<t_evaluation>
282402.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
110.0
</t_staff>
<t_wyear_wmonth>
3년 9개월
</t_wyear_wmonth>
<t_one_ave_pay>
41112.0
</t_one_ave_pay>
</item>
<item>
<no>
23
</no>
<ac_year>
2016
</ac_year>
<ent_name>
여주도시관리공단
</ent_name>
<t_gi>
1244611.0
</t_gi>
<t_pay_etc>
434881.0
</t_pay_etc>
<t_jesu>
195516.0
</t_jesu>
<t_overtime_pay>
376269.0
</t_overtime_pay>
<t_su>
46543.0
</t_su>
<t_evaluation>
7742.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
55.0
</t_staff>
<t_wyear_wmonth>
2년 9개월
</t_wyear_wmonth>
<t_one_ave_pay>
41919.0
</t_one_ave_pay>
</item>
<item>
<no>
24
</no>
<ac_year>
2016
</ac_year>
<ent_name>
영월군시설관리공단
</ent_name>
<t_gi>
758560.0
</t_gi>
<t_pay_etc>
107628.0
</t_pay_etc>
<t_jesu>
74653.0
</t_jesu>
<t_overtime_pay>
57233.0
</t_overtime_pay>
<t_su>
41190.0
</t_su>
<t_evaluation>
57591.0
</t_evaluation>
<t_sang>
20687.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
31.0
</t_staff>
<t_wyear_wmonth>
5년 6개월
</t_wyear_wmonth>
<t_one_ave_pay>
36050.0
</t_one_ave_pay>
</item>
<item>
<no>
25
</no>
<ac_year>
2016
</ac_year>
<ent_name>
의왕도시공사
</ent_name>
<t_gi>
3843929.0
</t_gi>
<t_pay_etc>
571982.0
</t_pay_etc>
<t_jesu>
221140.0
</t_jesu>
<t_overtime_pay>
855867.0
</t_overtime_pay>
<t_su>
84756.0
</t_su>
<t_evaluation>
229455.0
</t_evaluation>
<t_sang>
247812.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
138.0
</t_staff>
<t_wyear_wmonth>
5년 8개월
</t_wyear_wmonth>
<t_one_ave_pay>
43876.0
</t_one_ave_pay>
</item>
<item>
<no>
26
</no>
<ac_year>
2016
</ac_year>
<ent_name>
고양도시관리공사
</ent_name>
<t_gi>
6437520.0
</t_gi>
<t_pay_etc>
1322187.0
</t_pay_etc>
<t_jesu>
2391029.0
</t_jesu>
<t_overtime_pay>
2721571.0
</t_overtime_pay>
<t_su>
251721.0
</t_su>
<t_evaluation>
609819.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
282.3
</t_staff>
<t_wyear_wmonth>
6년 8개월
</t_wyear_wmonth>
<t_one_ave_pay>
48650.0
</t_one_ave_pay>
</item>
<item>
<no>
27
</no>
<ac_year>
2016
</ac_year>
<ent_name>
김포도시공사
</ent_name>
<t_gi>
8538747.0
</t_gi>
<t_pay_etc>
1476178.0
</t_pay_etc>
<t_jesu>
1344279.0
</t_jesu>
<t_overtime_pay>
1598949.0
</t_overtime_pay>
<t_su>
299038.0
</t_su>
<t_evaluation>
597848.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
327.0
</t_staff>
<t_wyear_wmonth>
5년 0개월
</t_wyear_wmonth>
<t_one_ave_pay>
42370.0
</t_one_ave_pay>
</item>
<item>
<no>
28
</no>
<ac_year>
2016
</ac_year>
<ent_name>
포항시시설관리공단
</ent_name>
<t_gi>
3336493.0
</t_gi>
<t_pay_etc>
681479.0
</t_pay_etc>
<t_jesu>
1108366.0
</t_jesu>
<t_overtime_pay>
843322.0
</t_overtime_pay>
<t_su>
244174.0
</t_su>
<t_evaluation>
322957.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
162.0
</t_staff>
<t_wyear_wmonth>
7년 9개월
</t_wyear_wmonth>
<t_one_ave_pay>
40351.0
</t_one_ave_pay>
</item>
<item>
<no>
29
</no>
<ac_year>
2016
</ac_year>
<ent_name>
춘천도시공사
</ent_name>
<t_gi>
4349467.0
</t_gi>
<t_pay_etc>
976979.0
</t_pay_etc>
<t_jesu>
1076833.0
</t_jesu>
<t_overtime_pay>
1108892.0
</t_overtime_pay>
<t_su>
494365.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
73689.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
205.0
</t_staff>
<t_wyear_wmonth>
13년 6개월
</t_wyear_wmonth>
<t_one_ave_pay>
39416.0
</t_one_ave_pay>
</item>
<item>
<no>
30
</no>
<ac_year>
2016
</ac_year>
<ent_name>
강릉관광개발공사
</ent_name>
<t_gi>
774307.0
</t_gi>
<t_pay_etc>
17220.0
</t_pay_etc>
<t_jesu>
173007.0
</t_jesu>
<t_overtime_pay>
125586.0
</t_overtime_pay>
<t_su>
82641.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
32.0
</t_staff>
<t_wyear_wmonth>
3년 7개월
</t_wyear_wmonth>
<t_one_ave_pay>
36649.0
</t_one_ave_pay>
</item>
<item>
<no>
31
</no>
<ac_year>
2016
</ac_year>
<ent_name>
보령시시설관리공단
</ent_name>
<t_gi>
1937187.0
</t_gi>
<t_pay_etc>
0.0
</t_pay_etc>
<t_jesu>
737860.0
</t_jesu>
<t_overtime_pay>
237865.0
</t_overtime_pay>
<t_su>
67864.0
</t_su>
<t_evaluation>
169660.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
70.0
</t_staff>
<t_wyear_wmonth>
4년 9개월
</t_wyear_wmonth>
<t_one_ave_pay>
45006.0
</t_one_ave_pay>
</item>
<item>
<no>
32
</no>
<ac_year>
2016
</ac_year>
<ent_name>
당진항만관광공사
</ent_name>
<t_gi>
239676.0
</t_gi>
<t_pay_etc>
40538.0
</t_pay_etc>
<t_jesu>
23699.0
</t_jesu>
<t_overtime_pay>
2825.0
</t_overtime_pay>
<t_su>
0.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
11.0
</t_staff>
<t_wyear_wmonth>
3년 11개월
</t_wyear_wmonth>
<t_one_ave_pay>
27885.0
</t_one_ave_pay>
</item>
<item>
<no>
33
</no>
<ac_year>
2016
</ac_year>
<ent_name>
포천시시설관리공단
</ent_name>
<t_gi>
2192233.0
</t_gi>
<t_pay_etc>
542739.0
</t_pay_etc>
<t_jesu>
422451.0
</t_jesu>
<t_overtime_pay>
234545.0
</t_overtime_pay>
<t_su>
373209.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
96.0
</t_staff>
<t_wyear_wmonth>
5년 10개월
</t_wyear_wmonth>
<t_one_ave_pay>
39221.0
</t_one_ave_pay>
</item>
<item>
<no>
34
</no>
<ac_year>
2016
</ac_year>
<ent_name>
인천광역시중구시설관리공단
</ent_name>
<t_gi>
2161015.0
</t_gi>
<t_pay_etc>
179287.0
</t_pay_etc>
<t_jesu>
191607.0
</t_jesu>
<t_overtime_pay>
545692.0
</t_overtime_pay>
<t_su>
668859.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
126.0
</t_staff>
<t_wyear_wmonth>
3년 6개월
</t_wyear_wmonth>
<t_one_ave_pay>
29734.0
</t_one_ave_pay>
</item>
<item>
<no>
35
</no>
<ac_year>
2016
</ac_year>
<ent_name>
여수시도시관리공단
</ent_name>
<t_gi>
1.3855399E7
</t_gi>
<t_pay_etc>
0.0
</t_pay_etc>
<t_jesu>
593447.0
</t_jesu>
<t_overtime_pay>
3812266.0
</t_overtime_pay>
<t_su>
0.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
297.0
</t_staff>
<t_wyear_wmonth>
5년 11개월
</t_wyear_wmonth>
<t_one_ave_pay>
61485.0
</t_one_ave_pay>
</item>
<item>
<no>
36
</no>
<ac_year>
2016
</ac_year>
<ent_name>
양산시시설관리공단
</ent_name>
<t_gi>
2424138.0
</t_gi>
<t_pay_etc>
589856.0
</t_pay_etc>
<t_jesu>
164514.0
</t_jesu>
<t_overtime_pay>
247202.0
</t_overtime_pay>
<t_su>
380358.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
93.0
</t_staff>
<t_wyear_wmonth>
4년 0개월
</t_wyear_wmonth>
<t_one_ave_pay>
40925.0
</t_one_ave_pay>
</item>
<item>
<no>
37
</no>
<ac_year>
2016
</ac_year>
<ent_name>
단양관광관리공단
</ent_name>
<t_gi>
1117028.0
</t_gi>
<t_pay_etc>
163964.0
</t_pay_etc>
<t_jesu>
170288.0
</t_jesu>
<t_overtime_pay>
199510.0
</t_overtime_pay>
<t_su>
142867.0
</t_su>
<t_evaluation>
39409.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
46.0
</t_staff>
<t_wyear_wmonth>
4년 4개월
</t_wyear_wmonth>
<t_one_ave_pay>
39849.0
</t_one_ave_pay>
</item>
<item>
<no>
38
</no>
<ac_year>
2016
</ac_year>
<ent_name>
부산광역시기장군도시관리공단
</ent_name>
<t_gi>
1942855.0
</t_gi>
<t_pay_etc>
751959.0
</t_pay_etc>
<t_jesu>
176781.0
</t_jesu>
<t_overtime_pay>
286975.0
</t_overtime_pay>
<t_su>
192431.0
</t_su>
<t_evaluation>
283518.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
97.0
</t_staff>
<t_wyear_wmonth>
4년 11개월
</t_wyear_wmonth>
<t_one_ave_pay>
37469.0
</t_one_ave_pay>
</item>
<item>
<no>
39
</no>
<ac_year>
2016
</ac_year>
<ent_name>
함안지방공사
</ent_name>
<t_gi>
1254443.0
</t_gi>
<t_pay_etc>
490804.0
</t_pay_etc>
<t_jesu>
592409.0
</t_jesu>
<t_overtime_pay>
249945.0
</t_overtime_pay>
<t_su>
289876.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
72.0
</t_staff>
<t_wyear_wmonth>
4년 7개월
</t_wyear_wmonth>
<t_one_ave_pay>
39965.0
</t_one_ave_pay>
</item>
<item>
<no>
40
</no>
<ac_year>
2016
</ac_year>
<ent_name>
안산도시공사
</ent_name>
<t_gi>
8918511.0
</t_gi>
<t_pay_etc>
39150.0
</t_pay_etc>
<t_jesu>
492847.0
</t_jesu>
<t_overtime_pay>
1415049.0
</t_overtime_pay>
<t_su>
1272531.0
</t_su>
<t_evaluation>
689323.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
321.0
</t_staff>
<t_wyear_wmonth>
5년 6개월
</t_wyear_wmonth>
<t_one_ave_pay>
39961.0
</t_one_ave_pay>
</item>
<item>
<no>
41
</no>
<ac_year>
2016
</ac_year>
<ent_name>
제주관광공사
</ent_name>
<t_gi>
4405596.0
</t_gi>
<t_pay_etc>
0.0
</t_pay_etc>
<t_jesu>
215070.0
</t_jesu>
<t_overtime_pay>
570277.0
</t_overtime_pay>
<t_su>
850084.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
96955.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
151.0
</t_staff>
<t_wyear_wmonth>
4년 5개월
</t_wyear_wmonth>
<t_one_ave_pay>
40649.0
</t_one_ave_pay>
</item>
<item>
<no>
42
</no>
<ac_year>
2016
</ac_year>
<ent_name>
울주군시설관리공단
</ent_name>
<t_gi>
2923845.0
</t_gi>
<t_pay_etc>
825736.0
</t_pay_etc>
<t_jesu>
338085.0
</t_jesu>
<t_overtime_pay>
959905.0
</t_overtime_pay>
<t_su>
150601.0
</t_su>
<t_evaluation>
242177.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
160.0
</t_staff>
<t_wyear_wmonth>
7년 5개월
</t_wyear_wmonth>
<t_one_ave_pay>
34002.0
</t_one_ave_pay>
</item>
<item>
<no>
43
</no>
<ac_year>
2016
</ac_year>
<ent_name>
양평공사
</ent_name>
<t_gi>
2826525.0
</t_gi>
<t_pay_etc>
192970.0
</t_pay_etc>
<t_jesu>
9360.0
</t_jesu>
<t_overtime_pay>
76224.0
</t_overtime_pay>
<t_su>
0.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
130.0
</t_staff>
<t_wyear_wmonth>
3년 11개월
</t_wyear_wmonth>
<t_one_ave_pay>
23885.0
</t_one_ave_pay>
</item>
<item>
<no>
44
</no>
<ac_year>
2016
</ac_year>
<ent_name>
평택도시공사
</ent_name>
<t_gi>
2055196.0
</t_gi>
<t_pay_etc>
257781.0
</t_pay_etc>
<t_jesu>
250171.0
</t_jesu>
<t_overtime_pay>
450903.0
</t_overtime_pay>
<t_su>
195908.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
29667.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
76.0
</t_staff>
<t_wyear_wmonth>
3년 2개월
</t_wyear_wmonth>
<t_one_ave_pay>
42627.0
</t_one_ave_pay>
</item>
<item>
<no>
45
</no>
<ac_year>
2016
</ac_year>
<ent_name>
강화군시설관리공단
</ent_name>
<t_gi>
1810689.0
</t_gi>
<t_pay_etc>
395534.0
</t_pay_etc>
<t_jesu>
310134.0
</t_jesu>
<t_overtime_pay>
131236.0
</t_overtime_pay>
<t_su>
168491.0
</t_su>
<t_evaluation>
0.0
</t_evaluation>
<t_sang>
0.0
</t_sang>
<t_pay_sum>
null
</t_pay_sum>
<t_staff>
74.0
</t_staff>
<t_wyear_wmonth>
6년 0개월
</t_wyear_wmonth>
<t_one_ave_pay>
38055.0
</t_one_ave_pay>
</item>
<item>
<no>
46
</no>
<ac_year>
2016
</ac_year>
<ent_name>
군포도시공사

In [73]:
wageSoup.find("ent_name")

<ent_name>
서울에너지공사
</ent_name>

In [63]:
wageSoup.find_all("item")[0].find("ent_name").text

'\n서울에너지공사\n'

In [48]:
len(soup.find_all("ent_name"))

144

In [77]:
soup.find("t_gi").text

'\n7487740.0\n'

In [69]:
wageSoup.find_all("t_pay_sum")

[<t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>,
 <t_pay_sum>
 null
 </t_pay_sum>]

In [92]:
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd

wageURL = "http://apis.data.go.kr/B551982/openApiFullTimeTotal/openXmlFullTimeTotal?serviceKey=vGmcCEppOgKU7A85T2iAM8VepTeNKQ%2B174k3pYOA4LMu099J%2F4CPtZFNOwYZS5kE9ajo7eEUoIYYyztLU75ixw%3D%3D&type=xml&numOfRows=10&pageNo=1&ac_year=2016"
res = urllib.request.urlopen(wageURL)
wageSoup = BeautifulSoup(res, "html.parser")


#모든 정보를 담을 DF
wageIDDF = pd.DataFrame()

#1개 영화 정보들에 대해서 처리할 DF
wageIDDF_temp = pd.DataFrame()
wageIDDF_temp = wageIDDF_temp.append(
    {"기관명":"",
     "기본급" : "",
     "평균임금" : "",
     "직원 수" : "",
     "평균근속년수" : ""},
    ignore_index = True)

num = len(soup.find_all("ent_name"))

for i in range(0,num):
    
    wageIDDF_temp.iat[0, wageIDDF_temp.columns.get_loc("기관명")] = wageSoup.find_all("item")[i].find("ent_name").text.strip()
    wageIDDF_temp.iat[0, wageIDDF_temp.columns.get_loc("기본급")] = wageSoup.find_all("item")[i].find("t_gi").text.strip()
    wageIDDF_temp.iat[0, wageIDDF_temp.columns.get_loc("평균임금")] = wageSoup.find_all("item")[i].find("t_one_ave_pay").text.strip()
    wageIDDF_temp.iat[0, wageIDDF_temp.columns.get_loc("직원 수")] = wageSoup.find_all("item")[i].find("t_staff").text.strip()
    wageIDDF_temp.iat[0, wageIDDF_temp.columns.get_loc("평균근속년수")] = wageSoup.find_all("item")[i].find("t_wyear_wmonth").text.strip()
    
    wageIDDF=wageIDDF.append(wageIDDF_temp, ignore_index=True)
    
    for j in range(0, len(wageIDDF_temp.columns)):
        wageIDDF_temp.iat[0, j]= ""

wageIDDF

               기관명           기본급    직원 수    평균근속년수     평균임금
0          서울에너지공사     7487740.0   205.0   20년 0개월  70939.0
1    세종특별자치시시설관리공단      293921.0    10.0  0년 1.7개월  45331.0
2        밀양시시설관리공단        5226.0     9.0    0년 0개월    581.0
3           인천관광공사     4251042.0    89.0    1년 3개월  58966.0
4           광명도시공사      915933.0    38.0   1년 11개월  34058.0
..             ...           ...     ...       ...      ...
139    대전광역시도시철도공사   1.8489894E7   572.0   10년 5개월  59596.0
140    광주광역시도시철도공사   1.7129944E7   540.0   12년 8개월  57554.0
141         인천교통공사   7.1253717E7  1948.0   11년 8개월  49997.0
142       대구도시철도공사    7.225219E7  2442.0  12년 11개월  58552.0
143         부산교통공사  1.15915834E8  3828.0   16년 4개월  68939.0

[144 rows x 5 columns]

In [ ]:
#     #print(str(i)+"_번째 영화 코드: ", movieIdData["movieListResult"]["movieList"][i]["directors"]=[])
#     #감독에 대한 정보가 뭐라도 들어있는 경우....
#     if soup.find_all("movie")[i].find("directors").find_all("peoplenm") !=[]:
#         #soup.find_all("movie")[i].find("directors").text !=""
#          movieIDDF_temp.iat[0, movieIDDF_temp.columns.get_loc("directorpeoplenm")] = soup.find_all("movie")[i].find("directors").find_all("peoplenm")[0].text
#     else:
#             pass
        
    

    
    # 1. movieIDDF_temp에 i번째 영화의 정보들을 담기....(코드, 이름, 영문, 개봉일, 감독)
    # 2. movieIDDF_temp에 있는 i번째 영화에 대한 정보를 movieIDDF에 추가
    # ---------> append
    wageIDDF=wageIDDF.append(wageIDDF_temp, ignore_index=True)
    # 3. movieIDDF_temp에 담겨져 있는 정보들을 초기화하는 부분
#     movieIDDF_temp.iat[0, temp_movcd_idx] = ""
#     movieIDDF_temp.iat[0, temp_movNm_idx] = ""
#     movieIDDF_temp.iat[0, temp_movNmE_idx] = ""
#     movieIDDF_temp.iat[0, temp_movdt_idx] = ""
#     movieIDDF_temp.iat[0, temp_movdir_idx] = ""

In [90]:
wageIDDF=wageIDDF.set_index("기관명")
wageIDDF.head(10)

               1인당 평균임금        기본급   직원 수    평균근속년수
기관명
서울에너지공사         70939.0  7487740.0  205.0   20년 0개월
세종특별자치시시설관리공단   45331.0   293921.0   10.0  0년 1.7개월
밀양시시설관리공단         581.0     5226.0    9.0    0년 0개월
인천관광공사          58966.0  4251042.0   89.0    1년 3개월
광명도시공사          34058.0   915933.0   38.0   1년 11개월
아산시시설관리공단       34992.0  1409560.0   70.0    2년 0개월
장수한우지방공사        34703.0   374115.0   16.0    2년 7개월
광주광역시광산구시설관리공단  53766.0  3084142.0  143.0    1년 6개월
대구광역시달성군시설관리공단  28137.0  2335038.0  131.0    2년 9개월
김해시도시개발공사       47287.0  6249154.0  218.0    7년 0개월

In [93]:
wageIDDF

               기관명           기본급    직원 수    평균근속년수     평균임금
0          서울에너지공사     7487740.0   205.0   20년 0개월  70939.0
1    세종특별자치시시설관리공단      293921.0    10.0  0년 1.7개월  45331.0
2        밀양시시설관리공단        5226.0     9.0    0년 0개월    581.0
3           인천관광공사     4251042.0    89.0    1년 3개월  58966.0
4           광명도시공사      915933.0    38.0   1년 11개월  34058.0
..             ...           ...     ...       ...      ...
139    대전광역시도시철도공사   1.8489894E7   572.0   10년 5개월  59596.0
140    광주광역시도시철도공사   1.7129944E7   540.0   12년 8개월  57554.0
141         인천교통공사   7.1253717E7  1948.0   11년 8개월  49997.0
142       대구도시철도공사    7.225219E7  2442.0  12년 11개월  58552.0
143         부산교통공사  1.15915834E8  3828.0   16년 4개월  68939.0

[144 rows x 5 columns]